[2016-02-03 13:06] LinguList opened #1 "Phonetic Transcription of Tukano Data for the Automatic Cognate Detection"
In order to use the Tukano data for cognate detection, transcriptions in segmentized form are needed.

That means, that instead of writing a word in it's IPA form, spaces need to be added:
- [tsapa] becomes [ts a p a]

This can be largely done automatically, but the algorithm cannot tell whether things like "ts" are meant to be two sounds or one (this varies across languages).

So instead of writi

[2016-02-03 13:24] #1 closed, assigned to thiagochacon

[2016-02-03 13:33] thiagochacon commented on #1
The easiest thing to me would be to ask @sflavier and @nataliacp   to give us a list of all characters that appear in the quasi phonemic representation $$. From there we could identify the valid ones against the ones we need to add further delimiting/diacritic information.

[2016-02-03 14:51] LinguList opened #2 "No delimiters and multiple words in Quasiphonemic Transcriptions"
It is extremely important that only one sound sequence is inserted into the field of unified transcriptions (the string that is used both for cognate detection and as the representative form in the alignments).

Currently, some datasets I tested have two words there and they are separated by a ";". This cannot be handled by software and is also not consistent, so we have to decide for one entry he

[2016-02-03 15:09] thiagochacon commented on #2
I have seen the output files: there will be only one word per language per entry. Reflex makes a good job in identifying the delimiters we used in the original spreadsheet and we are currently fixing the final errors. Basically you will be able to compara word forms within and across concepts and inidividual glosses.

[2016-02-06 09:42] nataliacp commented on #2
Mattis is talking about semi colons inside form fields, such as the unified form, not between different entries within one cell. We found cases like that in Tukano. In some of them the two forms within the same entry seem variants of each other (e.g. pehâ eta; pehâ eha) but in other cases they seem unrelated (e.g. aŝi; yaʔri for be shiny). Words that are not variants shouldn't be put in the sam

[2016-02-06 10:15] nataliacp opened #3 "Strict-Lax row assignment - Treatment of synonyms"
The automatic alignment algorithm cannot tolerate tons of synonyms for one concept (this is a relative not an absolute issue, so this doesn't mean we have to have one entry per concept). However in some cases (e.g. tukano for bird) there are tons of entries in the strict row, when it is obvious that most of them are species specific names. I think the easiest way to deal with this is to sort the i

[2016-02-06 10:39] LinguList commented on #3
As a rule of thumb, I would ask all collaborators working on language data to restrict the use of synonyms in strict rows to 3.

[2016-02-06 10:47] nataliacp opened #4 "Diphthongs???"
Are there diphthongs or triphthongs in tukanoan? Would it be better to assume that two consecutive vowels are a diphthong or not? In other words, is it easier to annotate the few existing diphthongs if any, or to annotate the few instances of consecutive vowels belonging to different syllables?
of course, I don't include glides properly represented as j and w in the above questions, these are alre

[2016-02-06 10:49] LinguList commented on #4
Yes, this is important, that glides are not represented as "u" or "i", but as "j" and "w", since otherwise, they will be mistreated as vowels and potential part of diphtongs by lingpy.

[2016-02-06 10:58] thiagochacon commented on #3
If that works, great! Or I can simply point out to you the form with the generic meaning for bird.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Natalia Chousou-Polydouri notifications@github.com </div><div>Data: 06/02/2016  05:15  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><

[2016-02-06 11:06] thiagochacon commented on #4
The phonological template of tukanoan language root morphemes is bimoraic. Hencee you can treat VV (long vowels or sequences of two different vowels) as two mora/syllables, just like CVCV words.
Indeed givent that root morphemes are (c)v(c)v with limitrd cases of known prefixes, no cc clusteres, codas or triphtongs, mattis could booster his algorithm by restricting the search this way?

Enviado do

[2016-02-06 11:07] thiagochacon commented on #4
Glidee are onlybrepresented as such when they are in a C slot in a (c)v(c)v morpheme template

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Johann-Mattis List notifications@github.com </div><div>Data: 06/02/2016  05:49  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Cc: thia

[2016-02-06 12:56] LinguList commented on #4
We can theoretically quickly assemble all cases of vowel templates later
on and have you decide how to deal with it. I prefer however, to have it
done already before that. So I suggest for the moment, that explicit
inistances of diphtongs (if they occur), are marked by adding the
diphtong combining bar they use in IPA also for affricates (but it's
under the vowel). In addition, I strictly recommen

[2016-02-06 15:05] thiagochacon commented on #4
There are no real diphthongs as in other languages. Out of 6 phonemic vowels in every languages (except tanimuka), Tukanoan languages allow a combinatio of almost all of them in the same syllable. If the algorythm treats CVV as Cv.v or as diphthongs there will be no difference.
Now, some WT languages have labialized velar stops, the exact situation you bring with kuala. We have to check how consis

[2016-02-06 15:20] thiagochacon commented on #4
Glides:Except for the labialized stops, the are no phonological differences between [tia] and [tja]. Our input is always $tia$ and if the algorithm reads  ti.a or tia that is not a problem.
Glides are consistently writtent in the following cases (I would expect):CVV e.g jaoCVCV e.g jaja I.e whenever they are in a C position
In a few cases we might find overlapping patternCV e.g jaVV e.g ia
These a

[2016-02-06 15:34] LinguList commented on #4
I can adjust things later on, but I'll need to adjust for sake of
clarity, also regarding the meaning of symbols (we should know what a
symbol means independent of the context). That means, all glides will be
re-written with j and w, and ideally, this should be done already
initially, since we can't guarantee that the algorithm will find all
cases, or that input is consistent enough, but if it slo

[2016-02-06 16:58] nataliacp commented on #4
isn't it the case though that if we consider consecutive vowels a diphthong
(i.e. they are in the same segment in the alignment) then they are
different historical entities? There will be in a sense a proto ae which
evolves, instead of a proto a and a proto e. Do you think that the vowel
combinations evolve as combinations or rather as independent vowels?
and a related question, even if the combin

[2016-02-06 17:01] nataliacp commented on #4
Just a clarification Mattis. Do you mean that we keep track of current
conventions on a language by language basis and then we indicate whether
they have been regularized across? I think it is better to keep track like
this given that the modifications that have been done vary a lot depending
on the source (at least as far as I have understood)

On Sat, Feb 6, 2016 at 4:34 PM, Johann-Mattis List <

[2016-02-06 17:07] thiagochacon commented on #4
Indeed we should be fine treating them as a single syllable. If that can be adjusted in the alg., great!!!
Otherwise the syllable and morpheme structure is so simple that we wont have a major problem.
As for the evolution of vowels, they can evolve independently or in accordance with the phonetic context, including the neighbouring vowel. Even diphthongs proper can have different directions of cha

[2016-02-06 17:25] LinguList commented on #4
@nataliacp : I just meant that whatever is done in a file should be
documented, so that we can at least quickly change it afterwards. I
would prefer not to be needed in doing regular expression to change
stuff automatically, but if this is needed in the end in order to speed
things up, I will need clear documentation.

So the rule: whatever the annotators can do in their transcription,
please do i

[2016-02-09 17:36] levmichael commented on #4
Sorry to be coming late to the discussion, but briefly, I concur with what Thiago says above. Its a little strange to speak of diphthongs in many (most?) Tukanoan languages because if what one means by 'diphthong' (and we should be explicit) is a tautosyllabic VV sequence, one runs into the fact that there is actually little evidence that the notion of syllable per se is salient for statement of p

[2016-02-09 17:47] levmichael commented on #3
Why would there be lots of specific species names in the BIRD row in the first place? Should they all be in the LAX row?

[2016-02-09 18:47] levmichael opened #5 "Long vowels"
I noticed when playing on Edictor that the Karapana {ee} sequences are treated as long vowels, and not as a pair of short vowels. I'm really not 100% clear on how Edictor representations will feed into AmLex ones, so this may be a moot point, but I think that it would be most consistent with our treatment of diphthongs if we were to treat {VV} sequences as sequences of short vowels, and not as lon

[2016-02-09 18:49] LinguList commented on #5
yes, please tell me, Tukano experts, because I know that sometimes people like to write [ee] instead of using hte length symbol, for which reason I automatically cluster all instances of identical elements into one segment. But if there's reason to say that things like [ee] mean something completely different, it would be good to know. I would be curious especially, what it is...

[2016-02-09 18:55] levmichael commented on #5
Right, the substantive issue is whether the two morae cluster under a single syllable node or not. As I mentioned on the diphthong thread, syllables as such are dispensable as prosodic entities in some Tukanoan languages at least, which militates agains a 'long vowel' analysis, in my view. The point that Thiago raised regarding the general lack of restriction of qualities for adjacent vowels is li

[2016-02-09 19:00] LinguList commented on #5
Just in case this is not clear: not mergin two identical sounds is no
problem at all in the analysis I made. I just need to change a keyword.

But this actually points to my general idea that whoever finds time
could help us by setting up a list of the main consonants and vowels to
be expected there, along with basic descriptions regarding certain
things that seem strange from a stranger's perspec

[2016-02-09 19:51] levmichael commented on #5
Yeah, I absolutely agree that having a list of the licit segments in each language would be very useful. That shouldn't be too hard to pull together.

[2016-02-10 10:30] thiagochacon commented on #5
That is my suggestion too

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: levmichael notifications@github.com </div><div>Data: 09/02/2016  13:47  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Assunto: [tukano-project] Long vowels (#5) </div><div>
</div>
I noticed when playing

[2016-02-10 10:31] thiagochacon commented on #5
Simply put it is a sequence of two identical vowels.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Johann-Mattis List notifications@github.com </div><div>Data: 09/02/2016  13:49  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Assunto: Re: [tukano-project] Long vowels (#5) </

[2016-02-10 10:32] thiagochacon commented on #5
Indeed!

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: levmichael notifications@github.com </div><div>Data: 09/02/2016  13:56  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Assunto: Re: [tukano-project] Long vowels (#5) </div><div>
</div>
Right, the substantive issue is whet

[2016-02-10 10:51] LinguList commented on #5
Okay, experts, please try to create one list where things like this thread with the vowels are collected. You can view this as a wishlist addressed to me, regarding the automatic segmentation and the clean representation of your data. Additionally, please try to start there with a list of sounds that you know will be there. I think of something like:

| Segment | IPA | Description | Note |
| --- |

[2016-02-10 10:55] LinguList commented on #5
Okay, file has been created and is accessible here: [sounds.md](https://github.com/digling/tukano-project/blob/master/sounds.md) (or just open the "code" tab and click on "sounds.md").

[2016-02-10 11:10] levmichael commented on #5
OK, thanks for this. Let us confer on how it would be best to proceed.

[2016-02-10 12:04] thiagochacon commented on #5
Mattis,
Please allow me to suggest a different workflow. How about this:
1. All data is imported into LingPy
2. LingPy identifies all exisiting symbols
3. Experts tag the licit and ilicit ones
4. We correct the ilici ones
5. We give you a final descritption of the sounds as in the table

Would that work?

[2016-02-10 12:07] LinguList commented on #5
That works as well, the only thing what I would like to avoid is that I
have to make several runs if we realize to late that things like
identical vowels should be kept seperately. So these things, I would ask
all experts still to think hard about and make a list that informs me
about general potential idiosyncrasies...

The list of symbols I can later generate automatically and you may
check, but

[2016-02-10 12:41] thiagochacon commented on #5
When I see the Karapana file in the edictor I see a lot of idiosyncrasies that is virtually impossible to predict with the kind of table you suggest. If you just need a list of symbols we think is in the data and how to segment sequences of vowels, affricates and sound with secondary articulation that is easier, but otherwise, I guess we should move on a language by language basis.

In short, plea

[2016-02-10 12:44] levmichael commented on #5
FWIW, this is the approach I favor...

[2016-02-10 14:26] nataliacp commented on #4
From the discussion up to now, I understand that we have decided to consider consecutive vowels as two separate entities and not as a diphthong. Also, we agree to make uniform the representation of glides irrespective of their position in the template. If there are no objections, I will close this thread and update our convention files.

[2016-02-10 14:36] nataliacp commented on #3
I think they should be in the lax row, but we found at least one case where they are all in strict. Apart from such cases though, there are many meanings with more than 3 items in the strict row, many of which seem variants of each other. During the doublechecking of the importantion files it would be good to see if some of the entries could be consolidated (if truly the difference is only a varia

[2016-02-10 14:43] thiagochacon commented on #4
Yes!

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Natalia Chousou-Polydouri notifications@github.com </div><div>Data: 10/02/2016  09:26  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Cc: thiagochacon thiago_chacon@hotmail.com </div><div>Assunto: Re: [tukano-project] Diphth

[2016-02-10 14:54] levmichael commented on #4
ĩtihã! ('yes, that's right!' in Máíhɨ̃ki)

[2016-02-10 16:35] amaliaskilton commented on #2
For clarification: are you, Natalia and Mattis, referring to cells that have two words separated by some symbol inside a single field -- something like `/~tìya-, sɨ̀a-/`? If so, is this a problem only in the phonological fields (abstract phonological, phonetic, FUN)? There are _many_ items in which the dictionary definition in the definition field includes commas and semicolons, and I hadn't anti

[2016-02-10 16:42] nataliacp commented on #2
Yes, we are talking about form fields, not translation and comment fields. In there, it is plain text that it is not automatically treated, so there's no problem. So, we should be strict with symbols used in form fields such as ORT, PHM, PHT and FUN. My understanding is that only variants of a single form should be listed in there separated by ~.

[2016-02-10 16:43] amaliaskilton commented on #3
I agree with this for the generic vs. specific biological terms and phonological variants issues, but I think a restriction to 3 synonyms would potentially cause either loss of data or stipulative judgments about semantic identity for some of the verb root rows. For example, in the Colombian Siona column of the BREAK VI row, I entered 4 items that mean something like "break" but have fairly generi

[2016-02-10 16:55] nataliacp commented on #3
actually, I think that the big problem is multiple items that are
potentially cognate to each other (i.e. they look very similar) so they
align to themselves. @Mattis, can you confirm this? so, my understanding is
that the 3 per meaning is a rule of thumb, it is not absolute. If you have
to include more because there is no way to find the most basic, most common
item, then we will have to work wit

[2016-02-10 17:02] amaliaskilton commented on #4
Dipthongs having been resolved, I want to address the labialization and palatalization issues.

@thiagochacon: It is not categorically true that all Tukanoan roots are bimoraic. In both the WT languages and the ET varieties that I was recently entering with Elsa, there are a significant number of trimoraic roots, typically nouns, that cannot synchronically be decomposed. This means that we cannot

[2016-02-10 17:06] amaliaskilton commented on #2
Thanks for the clarification. I do not believe that there are any cells
with multiple items in the phonological fields in the languages which I
entered. Do you have a list of errors of this type?

On Wed, Feb 10, 2016 at 8:42 AM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-10 17:37] thiagochacon commented on #4
Yes, the fact that 80% or so of root morphemes are bimoraic does not mean that we have mono or trimoraic ones.
We should revise all cases of possible labialized velar stops just to make them consistent with a commom form of representation.
Amalia, do you think you have enough knowledge of Siona and Koreguahe to make these decisions?

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div

[2016-02-10 17:44] LinguList commented on #5
If you have these lists, @thiagochacon , that would just be supercool. Since in this way, I could automatically identify those things which are unproblematic from those idiosyncrasies. If Seb is back, we should try and fix a workflow for easy conversion btween the spreadsheet to my data, and then to the edictor-style stuff. I suggest handling things via github, and I can set up my ideas next week.

[2016-02-10 17:48] LinguList opened #6 "Export to LingPy/Edictor: My wishlist for fields"
here's just to summarize my wishlist from what fields I need in the spreadsheet, that is generated from the google-sheet. Ideally, give me in the reflex-script conversion directly a tab-separated text file with the following replaced column names (I don't know exactly how you call them, but you'll know what I mean):
- language (name of the language, should be redundantly added in each row)
- conce

[2016-02-10 17:55] LinguList commented on #3
If you insist on keeping more than two words per base meaning, I'll simply toss a coin and only consider two words for the first automatic cognate detection. There were just so many minimal variants in one of the files that it was impossible to find any signal in the data. Given that there is the possibility to define the "lax" rows, I'd prefer to make use of that features and break it down to two

[2016-02-10 18:45] nataliacp commented on #2
No, we don't have a list of this type of errors. I think this should be
checked in each importation file in the relevant fields. e.g. you can look
in the FUN field for ; or ,  because these symbols shouldn't be there to
begin with. Also, with Mattis's tool you would be able to see such weird
symbols as segments and then go to the entries that have them to correct
them.

On Wed, Feb 10, 2016 at 6:0

[2016-02-10 19:47] levmichael commented on #3
Conceptual fuzziness on our end is not in general the problem, as you'll see, for example, if you look at the set of BREAK-related meanings in our list (we have 9 BREAK-related concepts). Some of the sources we are working with are vague about certain meanings, however, and this is probably one of the major sources of putative synonymy. That's the situation that Amalia is describing. I'm not sure

[2016-02-10 20:04] LinguList commented on #3
We need this strictness for the workflow. This workflow differs a bit from classical cognate-coding: we want to align the data and we want to use automatic cognate detection to preparse the data, later to be corrected by the experts. Alignmetns help us to make very, very strict assessments regarding sound correspondences and their regularity. This is helpful, since experts are all humans, so they

[2016-02-10 20:09] levmichael commented on #3
Sure, I understand. I guess my question wasn't clear -- I was asking about what the case was of the "minimal variants" that you alluded to above. What meanings, what languages? (Really, I'm trying to understand what you mean by 'minimal variant'.)

[2016-02-10 20:15] LinguList commented on #3
Oh, blame my mothertongue and the fact that it's late in teh evening and
I was on other things with my thoughts:

there were variatns of obviously the same word which minimally varied
from each other.

I know this problem from Chinese dialects, where datasets show some 5
words for "sun", most of them related, sometimes slight morphological
differences, etc. (eg., "tai-jaŋ", "tai-jaŋ-fu", "tai-jaŋ-

[2016-02-11 14:56] levmichael commented on #3
OK, I see what you mean. Well, for what it is worth, I think that the vast majority of cases where we have multiple items in a cell are not of the Chinese-sun type case you sketch out above. In the Tukanoan case the roots are generally quite different shape, and its lack of semantic detail in the sources that is largely responsible for the multiplicity of items. We'll have a look, though, and make

[2016-02-11 18:32] nataliacp commented on #3
Keep in mind that these first observations were done with 3 languages
Maihiki, Tukano and Karapana. In those and especially in Tukano there were
tons of these close variants in the same cell. Maybe they represent
different sources? I can't remember if that was the case. But even then it
shouldn't be so since we would expect the quasi-phonemic forms to be the
same even from different sources. I thi

[2016-02-11 18:38] levmichael commented on #3
Ah, OK, I'll have a look at Tukano, and see what the issues are, just so that I'm better informed. (I imagine that Thiago will want to as well.) Could I ask what Tukano list I should look at? The one on the Tukanoan 740 comparative list Google spreadsheet? (We're making progress on data centralization, but we're not there yet...)

[2016-02-11 19:07] nataliacp commented on #3
yes, that's the only Tukano list we have (it's one of the languages that we
have only partial sources for)

On Thu, Feb 11, 2016 at 7:38 PM, levmichael notifications@github.com
wrote:

[2016-02-11 21:41] gomezimb commented on #3
Sorry I arrive late to the discussion.
I agree with Lev that we must represent morae /ee/ etc.
Barred u have to become barred i.
I can have a look at TUK & KAR data. KAR has no tones but I can help representing TUK Utones.
Elsa

[2016-02-12 15:57] levmichael commented on #3
Yes, I was wondering that about the barred-u myself. So, adjustments like these will be handled through the symbol equivalence tables that Mattis has asked for. We've begun on those, and will share them with the Tukanoanists for collaborative work once we've made a little bit more progress.

[2016-02-12 16:03] nataliacp commented on #3
Just a reminder to please keep discussions distinct. This issue is about
synonyms, there is a separate one for the representation of vowel
sequences. This just makes it easier to keep all relevant information in
one place and once we have reached a decision to close the issue, without
having forgotten stuff elsewhere.

On Fri, Feb 12, 2016 at 4:57 PM, levmichael notifications@github.com
wrote:

[2016-02-12 16:04] levmichael commented on #3
Ah, very good!

[2016-02-12 16:18] nataliacp opened #7 "Maihiki cross-file matching"
Our latest attempt to match the full and the partial list for Maihiki failed to locate 220 items from the 740 list in the full source. You can find those 220 items in the Maihiki tab of the latest excel spreadsheet I sent out. As a reminder the matching is based on the FUN field in the full source file and the $$ field in the wordlisth which are expected to be identical.

[2016-02-12 16:21] nataliacp opened #8 "Kubeo quasi-phonemic representations"
My latest information regarding Kubeo, is that it is otherwise ready, except that not all items have a FUN  form. Could you update if these forms have been generated, so we can proceed in the parsing of the file?

[2016-02-12 16:24] levmichael commented on #7
Could you create a folder on this repository and depost the Excel file in question there? (Unless there is a good reason for not doing so.) I'd like to have a look at it as well.

[2016-02-12 16:29] nataliacp opened #9 "workflow question"
My impression is that it is easier to regularize the FUN - IPA forms in the language specific spreadsheets with the help of Mattis's tool, rather than do it on the existing comparative spreadsheet.

So, starting on Monday (or as soon as Seb is available), my plan is that we will start generating those spreadsheets that would then need to be doublechecked for IPA representations and for a number of

[2016-02-12 16:32] nataliacp commented on #7
ahem, I don't know how to do this. I will send it to you by email and I will try to figure this out later tonight.

[2016-02-12 16:33] amaliaskilton commented on #8
I have not updated but will do so today (btwn now and 1pm Pacific time).

On Fri, Feb 12, 2016 at 8:21 AM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-12 17:03] levmichael commented on #7
ah, no problem -- yeah, I spent a little time yesterday learning to do things like this; there are a number of different ways to do this, and I chose the GitHub Desktop + cloned repository approach. Since you sent me the file, I could put it up on GitHub myself...

[2016-02-12 18:14] thiagochacon commented on #8
Amalia was supposed to apply tye transformation. I can do it now if she has not done (Ijust realize it afyer seeing the format of the data in the Reflex spreadsheet).
Amalia, could you confirm if you have done the transformations?
If not, Natalia, could you plaese generate the spreadsheet for kubeo?

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original -

[2016-02-12 18:15] amaliaskilton commented on #8
I am working on this right now.

On Fri, Feb 12, 2016 at 10:14 AM, thiagochacon notifications@github.com
wrote:

[2016-02-12 18:15] thiagochacon commented on #9
Ok. I will do that over the weekend and send the karapana file.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Natalia Chousou-Polydouri notifications@github.com </div><div>Data: 12/02/2016  11:29  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Assunto: [tukano-project] workf

[2016-02-12 18:16] thiagochacon commented on #8
Thank you

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: amaliaskilton notifications@github.com </div><div>Data: 12/02/2016  13:15  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Cc: thiagochacon thiago_chacon@hotmail.com </div><div>Assunto: Re: [tukano-project] Kubeo quasi-p

[2016-02-12 18:19] LinguList commented on #7
The good thing about github is that you can actually upload tsv-files,
that is, files in only one excel sheet which are in pure text and
separated by tabstop. You can export them from drive. So if you do so
and upload them to github, you can even nicely vie and search them. I
recommend to do so, since if I have files for all separate languages, I
can create much information with help of my tools,

[2016-02-12 18:21] LinguList commented on #7
Just saw too late your answer, Natalia, so here's what I recommend: use
the GUI interface for mac or windows, which works farely well, and just
look at some documentation how to "commit" and "push". Ideally, use the
flat tab-separated format, but I can also adapt it and then show you how
I imagine a github-based workflow, and how one can nicely link files in
the issues.

[2016-02-12 19:28] amaliaskilton commented on #8
I have now spent a little over an hour trying to apply Thiago's changes to
the quasi-phonemic representations (having made initial attempts earlier as
well), and it is not a simple process. Thiago, your Kubeo data in the
740-item list appears to have an encoding issue - when I search for <bũ>,
typing the nasality symbol using the IPA Unicode keyboard, I find every
token of <bu>, not just the ones

[2016-02-12 19:32] LinguList commented on #8
This is one of the problems of spreadsheets, since they don't show you
what is underlyingly used. There are basically two main types of ũ, one,
where it is spelled as u + the nasality, one where there's only one
character. I don't know, how spreadsheets handle this, so the only thing
that could be done is exporting the sheet to text-form, normalizing to
one variant (there are predefined software f

[2016-02-12 19:38] thiagochacon commented on #8
Multiple keyboard layouts as we used also different computers!!
Let me try to do this, Amalia. And thanks for the effort.
Natalia, when can please generate thebkubei spreadsheet!

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: amaliaskilton notifications@github.com </div><div>Data: 12/02/2016  14:28  (GMT-05:00) </div><div>Pa

[2016-02-12 19:39] thiagochacon commented on #8
That is what I will do. Thanks, Mattis.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Johann-Mattis List notifications@github.com </div><div>Data: 12/02/2016  14:33  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Cc: thiagochacon thiago_chacon@hotmail.com </div><div>Assunto:

[2016-02-12 19:39] amaliaskilton commented on #8
Thanks Mattis. Yes, the encoding appears to be treating every combination
of vowel and diacritics as a distinct, single character. Since there are 2
diacritic features (nasality and tone), each has 2 values, absence is
distinctive for both diacritics, and the 2 features combine, this means
that each vowel has 6 variants that are all being treated as distinct
characters: <u ù ú ũ ũ̀ ṹ>. Can y

[2016-02-12 19:42] LinguList commented on #8
You need to do that in a programming language, I don't know whether
there is a normalization procedure in google-docs. So it has to be done
anyway, but I think Seb will include that upon import, if not, it should
be done, but it's no deal to do it from a programming language like
python, but one needs to export the sheet and re-import it, and while
doing so, one may loose things like comments, or

[2016-02-12 19:48] amaliaskilton commented on #8
I do not know Python so I'll need to ask one of you (Mattis and Seb) to
handle the normalization. After that I can do the phonemic to
quasi-phonemic transformations just using grep.

On Fri, Feb 12, 2016 at 11:42 AM, Johann-Mattis List <
notifications@github.com> wrote:

[2016-02-12 20:00] LinguList commented on #8
I can do it, but I need the text-file of the spreadsheet. But
alternatively, you could use grep in the same way, just specifying the
combined characters, just by taking them from the field inside.

If you want it normalized, please attach the spreadsheet in
tab-separated for to teh github-thread, or upload it on github (open a
file and paste it there, specifying file-endings as ".tsv", or send it

[2016-02-12 20:02] nataliacp commented on #8
From what i understand, Seb automatically breaks down those complex
characters for reflex. but, I don't know if he has all these combinations.
I am confused with the status of Kubeo. Is it ready to generate the
spreadsheet or not? I thought we had to wait because not all items had FUN
forms.
the way i have dealt with this in google spreadsheets is to search and
replace to regularize, but it would

[2016-02-12 20:14] levmichael commented on #3
OK, I've just spent a while looking at the Tukano list, and I agree that there is a lot that should be moved from strict rows to lax rows. Most of these are not phonological variants or cases in which different morphology attaches to a single relevant root (although there are cases like this), but cases in which forms with meanings close-ish to the target concept are included in the cell along wit

[2016-02-12 20:24] amaliaskilton commented on #8
@nataliacp, the encoding issue I described above is making it logistically
difficult to produce the quasi-phonemic representations. It needs to be
regularized first so that I can transform the phonological to
quasi-phonemic without manually finding a token of every character.

On Fri, Feb 12, 2016 at 12:02 PM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-12 21:13] nataliacp commented on #3
It could be done in either place, the 740 spreadsheet or the importation
template. In any case all the unified translations for the lax items will
have to be changed in the importation template, so maybe it is easier to do
it there.
As long as Tukano is otherwise ready, I think it may be better to deal with
other languages and return to this after Seb has parsed it.

On Fri, Feb 12, 2016 at 9:14 P

[2016-02-12 21:17] nataliacp commented on #8
Yes, so I am going to see if we have any ready-made machinery to do the
regularization with Seb. then you can make the FUN forms. I hope I will
have news for that on Monday.

On Fri, Feb 12, 2016 at 9:24 PM, amaliaskilton notifications@github.com
wrote:

[2016-02-12 21:29] LinguList commented on #8
If not, and if Seb doesn't know of this (what I would doubt), let me
know, since if he's using Python for the conversion, it's just one line
of code to be applied, and I can just point to it.

BTW: In case you are okay with that, the code for conversion might be
put on github directly. In this way, I could have a look and directly
help with LingPy-related issues...

[2016-02-12 21:47] levmichael commented on #3
OK, well, let's see what Thiago says, but I think it might be easiest to work on in the 740 spreadsheet, since it's easy for us both to access that. I agree with what you suggest, though, of working on other languages, and then coming back to Tukano

[2016-02-12 23:43] levmichael opened #10 "Máíhɨ̃ki symbol list"
In order to generate the master quasi-phonemic symbol list and the IPA equivalents for the symbols, we've decided to first generate language-specific lists, and then generate a master list from these specific lists. Please have a look at the [Máíhɨ̃ki symbol list](https://docs.google.com/spreadsheets/d/1bdgDrxIYKFr3pNXF-jWUzGMoiL20ImgX7VEXi9AsepQ/edit?usp=sharing) and comment on things that you th

[2016-02-13 05:13] thiagochacon commented on #8
Sorry to hear about these issues. Natalia, if you could just generate a spreadsheet of Kubeo, separating each entry in a cell, I could give it a try. Some karapana forms were missing FUN too.
My problem with the spreadsheet now is that we have multiple entries in a single cell.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De:

[2016-02-13 08:25] nataliacp commented on #10
Are you using the SIL keyboard? This is what I am using and I managed to
find the bar. It is &# typed in between the two segments. I could add the
ties in the parsed file.

On Sat, Feb 13, 2016 at 12:43 AM, levmichael notifications@github.com
wrote:

[2016-02-13 08:28] nataliacp commented on #8
ok, we will parse the Kubeo data and try to regularize the symbols to be
additive. then you can make all adjustments in the quasi-phonemic forms and
then it can go to Mattis for the segmentation.

On Sat, Feb 13, 2016 at 6:13 AM, thiagochacon notifications@github.com
wrote:

[2016-02-13 08:31] nataliacp commented on #7
Another issue with the Maihiki matching procedure is that there were still delimiter errors. there is a list of those in the same email I resent to Lev. Just make sure that these are fixed before we generate the spreadsheet for Maihiki.

[2016-02-13 09:19] LinguList commented on #10
In segmented form of words, the tie bar is no longer needed. The reason
we need it is that nobody ever writes IPA in segmented form, that is, as
"ts u ŋ ə", for German tongue instead of "tsuŋə", where nobody knows the
meaning of "ts" (affricate or two sounds).

I can include recognition of "ts" and other instances in the
segmentation algorithm, by defining, what I call "semi-modifiers", that
is, s

[2016-02-13 09:45] thiagochacon commented on #3
Lev, I arrived yesterday night and will have more time to wok now. Since yoy inspected the data already you might wabt do it already. After working on karapana and kubeo I could join you and we split the work. How about hat?
I also agree we should do the changes in the importarion template.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</

[2016-02-13 13:34] thiagochacon opened #11 "lax rows"
I am working on the Karapana file now. I have a question about what we should do with lax rows.

First, what kind of translation we should replace there? The source's translation? Or the anotator translation? (I would go with the second for the reasons below).

Second, if we put another TUE translation, I am afraid we will be spending an extra work for cognate detection. This is why we created lax

[2016-02-13 13:49] thiagochacon opened #12 "polysemeous words"
I see we have two different situations for polysemous words. I understand that the second situation (one form, multiple IDs) has a straightforward set of operations to be performed.

I don't understand the why and the how of the first situation (one form, one ID, but multiple original translations). I am afraid finding them will be very time consuming and the end result will not be really helpful

[2016-02-13 14:14] nataliacp commented on #11
this is probably something that Mattis can reply better. From a reflex
standpoint, giving the same unified translation to related meanings while
clearly they don't fit the target meaning is a bad idea. It is not good if
we decide at some point to code data differently, e.g. by meaning or to
code semantic shifts as characters too. Leaving the unified translation as
cut-LAX is also problematic as a

[2016-02-13 14:29] nataliacp commented on #12
you are right Thiago, that this second part is more about internal
consistency of the database, but it may be not helpful to the project. It
is more about tidying up anticipating other uses of the data (e.g. addition
of meanings, special vocabulary, semantic evolution of certain terms)
rather than replying to a specific need right now. Given the structure of
the database, where once a set of data

[2016-02-13 15:07] LinguList commented on #12
I might not completely understand thte question, but here's what I think:

we need a specific ID for each different meaning, provided this meaning
occurs in our base set of 740 words. Since it's anyway difficult to
distinguish between polysemy and homophony, this is the best way to deal
with it.

This is just what I need for the algorithm. BTW: The algorithm filters
out polysemys and compares them

[2016-02-13 15:10] nataliacp commented on #12
yes, this is the second case that Thiago is talking about, so we are all on
the same page there. the problem is with the first case, where only one of
the meanings belongs to the 740 list.

On Sat, Feb 13, 2016 at 4:07 PM, Johann-Mattis List <
notifications@github.com> wrote:

[2016-02-13 15:16] LinguList commented on #12
well, annotate the other meaning and set it in another row. Separation
of meanings will also need to be done for the things not on the list, so
add another word with the other meaning(s), knowing that it will be
first ignored, but later it is already processed, and can be used when
going for full dictionaries.

[2016-02-13 16:13] levmichael commented on #11
A number of points are raised above -- let me try to respond to them all.
1. Should we postpone importing LAX rows? I think we absolutely should not postpone importation in this way. Let's import everything now.
2. Is everything in a LAX row cognate to something in a strict row? No. Some items in LAX rows _were_ collected due to their obvious cognacy with items in strict rows, but others are simpl

[2016-02-13 16:23] levmichael commented on #10
Thanks for the suggestion, Natalia -- alas, it doesn't work on my SIL IPA keyboard, presumably due to platform reasons. Yes, we'll probably go with the solution you suggested, Mattis. Fortunately, I don't think that Tukanoan languages offer any examples of kind of "pair-of-monographs vs. digraph" ambiguities that  you mention because of the nature of syllable structure in the language. My fellow T

[2016-02-13 16:27] nataliacp commented on #11
I just had another idea. We could dump the -LAX translation in another
field in reflex, so one can search for it, e.g. in one of the comment
fields. maybe this is the best middle ground.

On Sat, Feb 13, 2016 at 5:13 PM, levmichael notifications@github.com
wrote:

[2016-02-13 16:29] levmichael commented on #11
Ah! Perfect! Yes, this sounds like a great solution.

[2016-02-13 16:36] levmichael commented on #3
OK, I'll get started on the Tukano strict-lax sorting, and once you're done with Karapana and Kubeo, we can see where things stand.

[2016-02-13 16:38] levmichael commented on #7
OK, great, we'll deal with this.

[2016-02-13 16:58] amaliaskilton commented on #10
I can imagine only one possible issue of the hantʃu type: there are some
languages in the data set (Colombian Siona, possibly Mai but the data is
less than clear) which have labialized glottal fricatives [hʷ]. Other
languages in the family allow coda [h]/preaspiration word-medially, e.g.
Martine transcribes the Ecuadorian Siona word for 'achiote' as [põhsa]. (I
am not sure how many languages are

[2016-02-13 17:22] thiagochacon commented on #12
I follow the importance of doing this. My concern was with the time and efforts, but l think that if we search by commas and semicolon within the TRA column we could do it fast.

The Karapana data at least is ok, but Metzeger definitions are quite simple. Ramirez definitions on Tukáno, on the other hand, might be more difficult. Some meanings are not simply meanins, but definitions, with complex p

[2016-02-13 17:30] thiagochacon commented on #11
Following up with @levmichael 's points:
1) Yes, we shouldn't postpone importing LAX rows
2) At least the way I used, and seen, the LAX rows in the 740 list, I think they all have cognates with at least one word in the strict row
3) good solution, @nataliacp

Let me tell you that I do have hopes that we will do cross semantic cognacy at least a little bit before May : )

[2016-02-13 17:37] nataliacp commented on #12
I have run into this problem with TG and there is no perfect solution. If the word is not really polysemous, but it has no corresponding term in the translation language, I have opted for putting both terms in the same unified translation. For example in French there is no term for sibling, only for brother and sister, so a unified french translation could be frere, soeur for a word that really me

[2016-02-13 17:48] thiagochacon commented on #12
Okay, so then we won't have lots of polysemy under this situation then. I am glad to know you have done this in TG as I think we should do the same here as well.

As for CONCEPTICON, I guess it is important to know that in some languages, brother/sister, bark/skin, drin/eat, etc., are expressed by a single word. (as a note, I don't see this as technically  polysemy; from an emic perspective, it is

[2016-02-13 18:07] nataliacp commented on #12
yes, so my understanding is that the concepticon in such cases would have a super-term corresponding to these meanings. is that accurate, Mattis?

[2016-02-13 19:39] LinguList commented on #10
@levmichael, the symbols look super to me. This is exactly what I need. It does not mean that everything will essentially parse properly, since there may be things that have been overlooked, but that's where I come into play with the software to point to irregularities.

I added the symbol list in tsv-format to github, and you find it [here](https://github.com/digling/tukano-project/blob/master/sy

[2016-02-13 19:51] LinguList commented on #12
Well, it is never stopping to be complicated, but right now, we have the following conventions:
- try to use the term that exactly corresponds to the given concept (don't translate "brother and sister" as "sibling"
- add concept relations in the concepticon, essentially "broader" and "narrower"

I just realized, we missed the relation for SIBLING narrower BROTHER (speak "sibling, narrower is the c

[2016-02-13 19:53] levmichael commented on #10
Great -- and the tsv version looks good too. Your proposal sounds great.

Amalia's observation regarding h.C vs .hC. ambiguity is good to keep in mind if the relevant languages allow /h/-codas. Presumably those who are responsible for those languages can tell us if this is something to worry about.

Unless anyone has anything that they wish to add, I plan to close this issue soon.

[2016-02-13 19:56] LinguList commented on #10
BTW, regarding all collaborators: if you prepare your symbol list just
as @levmichael did for Mahiki, you can simply add it to the folder on
github by selecting the rows in your spreadsheet, copying them, and
adding a new file with the language name (preferably the common
abbreviation you choose) to the folder on github (there's a "new file"
button), giving hte file the extension ".tsv", that is,

[2016-02-13 20:22] nataliacp commented on #12
I am not sure if we mean the same thing. I was giving an imaginary example
where a language has a word meaning sibling and we are giving this word a
unified french translation. French has no word that means sibling. Instead
of considering the word polysemous (which it is not) and splitting it in
brother and sister, I would give a unified translation frere, soeur,
because this is the only way to co

[2016-02-13 20:31] LinguList commented on #12
Ah, okay. sorry for misunderstanding. Now I clearly see: here, we use the following strategy:
- try to find a good word that exists, like "mouse / rat" can be described as "muroid", but we usually add in brackets "mouse or rat"
- we also do this for things like arm/hand, where we give "arm or hand"

We use the "or" currently (which produced many discussions, but it is not an exclusive or). So if t

[2016-02-13 20:47] nataliacp commented on #12
great. I think I will start using "or" too then so the mapping can be
easier. for the fat example I would go for oil or fat (since oil is liquid
fatty substance at room temperature and fat for solid) or even for fatty
substance.

On Sat, Feb 13, 2016 at 9:31 PM, Johann-Mattis List <
notifications@github.com> wrote:

[2016-02-13 21:42] LinguList commented on #12
It depends on the list and the language family, it is in fact awful with
oil and fat:

This is just the issue:

https://github.com/clld/concepticon-data/issues/88

but I realized that there are so many aspects to consider: is it the
edible stuff, the non-edible stuff, is it from animals, from plants
also, is it liquid or solid, etc.

But we'll find a solution for the concepticon, eventually (in th

[2016-02-14 00:54] thiagochacon commented on #12
using a "or" with no exclusive meaning seems a good strategy for now. ideally concepticon should allow reversible entries but not only from a concept in the concepticon and a concept in a word list, but also with a third dimension, adding the target language too... but that is another issue : )

[2016-02-14 01:00] thiagochacon opened #13 "minimal phonetic varians"
just finishing the karapana list, I would like to have hear a clear procedure for what we need to do with minimal phonetic variants, such as õpea / ũpea 'breast'.

currently they have different IDs and the same gloss. My suggestion is that we give them the same treatement as polysemous words (technically speaking of course): choose one ID number to put in the ORP field and add 1,2, 3 in the ORF f

[2016-02-14 05:24] LinguList commented on #13
Frankly speaking, I'd exclude one of them in the automatic parse, since
it's sometimes just getting too confusing (I'll make a note to add this
to my check routines in LingPy). Ideally, one can filter out the
patterns behind variation (õ vs. ũ as something regular, for example).
In this case, you can then just choose one and leave the variant in a
note-field. That's what I try to do with my Chines

[2016-02-14 10:51] thiagochacon commented on #13
well, we might exclude from the algorithm routine, but some how it must be identified in the reflex template and stored in the database. my question is how we should do it, and for such I gave a suggestion. Perhaps @nataliacp and @sflavier will have some thing to say.

[2016-02-14 13:18] LinguList commented on #13
I'd also opt for putting them into a notefield in the database. But I'm
also very interested on how they handle it in reflex...

[2016-02-14 13:54] nataliacp commented on #13
What I have been doing in TG with such things (provided that they are
coming from the same source and not from different sources) is to put them
in the same entry separated by a ~, e.g. õpea ~ ũpea. For alignments in
reflex, one can toggle between the different forms and choose one for the
alignment. We discussed this with Seb last week, and we said that we could
just select the first one to exp

[2016-02-14 14:37] thiagochacon commented on #13
Sounds like another great solution to me ; )

Date: Sun, 14 Feb 2016 05:54:00 -0800
From: notifications@github.com
To: tukano-project@noreply.github.com
CC: thiago_chacon@hotmail.com
Subject: Re: [tukano-project] minimal phonetic varians (#13)

What I have been doing in TG with such things (provided that they are

coming from the same source and not from different sources) is to put them

in the s

[2016-02-15 13:46] thiagochacon opened #14 "karapana template"
The karapana file is attached here. Please check the file for consistency regarding the guidelines you sent me, @nataliacp .

[KarapanaReflex.xlsx](https://github.com/digling/tukano-project/files/130829/KarapanaReflex.xlsx)

please tell me if the format is okay and if sending the file as xls over here is fine or we should have another procedure.

This is the most up to date and quality chekced dat

[2016-02-15 13:54] LinguList commented on #14
I justa dded the file here, at
- https://github.com/digling/tukano-project/blob/master/lexical_data_files/Karapana.tsv

If you check again from there, you may see more easily, whether columns are correct (it's what is important for lingpy).

It looks fine to me, so far. I'll add first testing routines tomorrow (or should I wait with this, @nataliacp ?).

Also, this kind of uploading files is easy

[2016-02-15 17:57] nataliacp commented on #14
We just had a look with Seb at the Karapana file and it looks fine!
The only question I have is about the root boundary for the compounds. If really we have a compound, shouldn't it be written as one word? Why not use morpheme boundaries? after all the components of a compound are morphemes.

[2016-02-15 18:54] nataliacp commented on #8
Seb parsed the Kubeo data today and transformed all the combined characters in additive. So, I think now you should be able to apply all the rules for the quasi-phonemic forms. once this is done, we can fully check the segmentation with Mattis's tool. The Kubeo file is in the language files directory.

[2016-02-15 19:01] nataliacp opened #15 "workflow for combined characters"
Seb and I talked today about the best procedure for the combined characters in order to convert them to character + diacritics. We suggest that we check and regularize characters on parsing from the spreadsheet to the template and then again after the corrections are done, in case any combined characters have crept in. In any case, it would be good practice for everyone to use IPA keyboard layouts

[2016-02-15 19:03] nataliacp commented on #7
Just to clarify, the delimiter errors should be fixed in the 740 file.

[2016-02-15 19:10] nataliacp opened #16 "Tukano minor issues"
Seb and I found the following weird symbols in Tukano. For the meaning "much" on the last entry there is a tone mark on an r. This is the only instance of this combination in the whole spreadsheet, I presume a typo.
In the same cell, in the third entry there is a ũû vowel sequence which I found weird, but maybe there is a good reason for it. We didn't do any checks for such sequences, so we have

[2016-02-15 19:12] LinguList commented on #15
Just to update: Once you import into lingpy and export, you get always
NFC encoding as a default, and all characters will preferably
represented by only one symbol. You can change that, but I suggest to
just stick to one schema here, and NFC is just the best for
normalization (at least I worked fine with it so far, and all my code is
adapted to it).

In Python-3, its just one two lines

[2016-02-15 19:13] nataliacp opened #17 "(almost) duplicate line in 740 spreadsheet"
lines 162 and 163 of the 740 are almost identical. more specifically they have the same unified translation etc, while the data are sometimes duplicated and other times not. this issue should be dealt with asap, as it affects every language we parse.

[2016-02-15 19:16] nataliacp commented on #15
I actually don't know what NFC is, can you explain? I thought we want things to be decomposed and not one, no? Reflex keeps things separate so the search can be done more easily. Are you saying that in Lingpy everything is one combined character?

[2016-02-15 19:19] nataliacp commented on #8
some more information for the Kubeo importation template:
%% have gone to the CSA field and need sorting between the CSA and the CSO field according to the source
@@ have gone to the CSO field

The LAX tags are still in the unified translation, as Seb hasn't modified the script yet. So, you can either copy paste them into the CSA field (if they are not that many) or we will find a solution to do t

[2016-02-15 19:21] LinguList commented on #15
Okay, NFC is one of the ways things are handled by unicode. You either have:

ã is coded as two characters, or as one, NFC is one, NFD is two. I use
NFC for all my work, since most programs also inherently do that.

LingPy defines sounds explicitly via sound classes (and in the future
via the cross-linguistic phonetic alphabet I want to also use for
Tukano). If you want to match sounds explicitly,

[2016-02-15 19:25] nataliacp commented on #12
From the discussion, I think we can arrive at the following conclusions:
- polysemous words with just one meaning belonging to the wordlist will be split in as many rows as they have meanings
- The new rows will have a new appropriate unified translation
- concepts not expressed by a unique term in the translation language will be represented by or: e.g. bark or skin.

[2016-02-15 19:25] #12 closed, assigned to nobody

[2016-02-15 19:27] nataliacp commented on #11
ok, I think we are all on the same page for this. Seb will modify the script to move the LAX tag to the CSA field.

[2016-02-15 19:27] #11 closed, assigned to nobody

[2016-02-15 19:40] nataliacp opened #18 "lax row unified translations"
We haven't decided yet if and which language we prioritize for the newly added unified translations. I think it is necessary that we fill in one (and always the same) of the three translation languages, but not necessary all of them. What do you think?

[2016-02-15 19:43] nataliacp commented on #14
I have another question actually. What did you do regarding lax tags in this case? Did you copy them to the CSA field and replaced all unified translations?

[2016-02-15 19:51] nataliacp opened #19 "should we share data on GitHub?"
Seb explained to me today that actually every single thing we upload here and we post in the comments is completely public and visible to anyone, even if they don't have a github account. Of course, one would have to know how the project is called or search for one of us and the projects we are involved in. I don't personally see it as a big problem, but I thought it is important that everyone is

[2016-02-15 19:53] LinguList commented on #19
Since this is a part of the Jena Glottbank project, I can also move it
to the payed repository over there at glottobank. Thiago, you might
actually ask Robert during the next days. In this way, it'll be close
and can later be made public, upon publication, etc.

But I generally don't mind if it stays as it is.

[2016-02-15 19:56] nataliacp opened #20 "Lost in the files..."
Amalia, could you please clarify what are all the files you uploaded recently? Are they exactly duplicated in the folder you made and in the project repository? If yes, I think we should only keep the ones in the folder, so we can find easily the conventions and workflow files. Also, please let me and Seb know when something is ready for exportation - matching with the 740 file (I presume that not

[2016-02-15 20:00] nataliacp commented on #4
I am not clear on what we are doing with glides still, but maybe all the Tukanoanists are and that's what matters! if that's the case, please post a conclusion, close the issue and update the conventions!

[2016-02-15 20:07] levmichael commented on #19
I'm busy with other stuff most or all of today, and so will be AWOL for much of the discussion today, but these comments about Glottobank caught my attention. The Tukanoan comparative project itself is not part of Glottobank, so I'm uneasy about possible commingling. Could you say more about your understanding of the situation?

[2016-02-16 09:57] thiagochacon commented on #15
I think it makes sense for Tukqnoan languages that segments, nasality, tones and stress be all represented by unique symbols. Lets try to stick to these as much as we can throughout the different  platforms in the project.
indeed encoding is the reason of all problems. As we had different people in Brazil inputting data, they each used their computer keyboards.

Enviado do meu smartphone Samsung G

[2016-02-16 09:58] thiagochacon commented on #19
As for sharing data, I have no probelms with having these workibg files online, though we need some kind of extra info qbiut the project and status of the data on github

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: levmichael notifications@github.com </div><div>Data: 15/02/2016  15:07  (GMT-05:00) </div><div>Para: digling/

[2016-02-16 09:58] thiagochacon commented on #19
I guess we have to discuss what means "being part of".
The project does have relation to Glottobank as Mattis and I are involved and my RA students have been paid by a MPI-SHH grant.
We'll need to ackowledge that.
Now it is definitely a different project from Glottobank with other synergetic forces, other people and institutions involved.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>

[2016-02-16 09:58] thiagochacon commented on #4
I think we concluded that:- there is no such a thing as a diphthong- glidee are explicitly written as glides j and w

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Natalia Chousou-Polydouri notifications@github.com </div><div>Data: 15/02/2016  15:00  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.

[2016-02-16 09:58] thiagochacon commented on #8
Thanks for the update. Kubeo quasi-phoeic is pretty close to phonetic but not quite. We will need to apply trqnaformations if we want to have FUN there.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Natalia Chousou-Polydouri notifications@github.com </div><div>Data: 15/02/2016  14:19  (GMT-05:00) </div><div>Para: digling/tu

[2016-02-16 09:58] thiagochacon commented on #18
I would go with English

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Natalia Chousou-Polydouri notifications@github.com </div><div>Data: 15/02/2016  14:40  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Assunto: [tukano-project] lax row unified translations (#18) </div><div

[2016-02-16 13:34] nataliacp commented on #8
My understanding is that the forms currently in FUN are already quasi-phonemic, or they should be. The question is if for this language the quasi-phonemic and the phonetic forms are the same. If yes, we could copy the FUN into the PHT at the end, otherwise we will leave it blank.

[2016-02-16 15:14] amaliaskilton commented on #2
To clarify, so that we can close: We will check for multiple items per cell in each of the languages as they are imported?

[2016-02-16 15:21] amaliaskilton commented on #16
From what I know of the orthography in Ramirez, the ũû sequence is licit.
@thiagochacon?

[2016-02-16 15:25] amaliaskilton commented on #17
This was an error in the English gloss for the concept. Both 162 and 163
have the lexical concept "break (VI), of sth rigid and 3D such as an egg,
NON-PLACT," but in the lexical data, 162 has non-pluractional verbs for
this concept and 163 has the pluractional verbs. Presumably 163 had the
gloss "break (VI), of sth rigid and 3D such as an egg, PLACT" and then was
changed by mistake. I have changed

[2016-02-16 15:31] thiagochacon commented on #16
Yes it is a licit sequence: phonetically both vowels (i.e. the long u) are nasal. The tone is used orthographically in the second vowel of a word by Ramirez.

tone marker on an < r > is a typo. the tone should cog with the next vowel on the right

[2016-02-16 15:40] amaliaskilton commented on #14
@nataliacp and @thiagochacon regarding compounds: at some point in the
discussion of conventions, we decided to annotate compounds in the same way
as morph complex words consisting of a root and suffix. W/r/t use of a
space between the roots, I would be concerned about the representation
becoming ambiguous between a phrase consisting of multiple prosodic words
and a root-root compound that is one

[2016-02-16 15:44] amaliaskilton commented on #20
Yes, the files are exactly duplicated - just a mistake on my part in
pushing to GitHub from the command line.

I have no new files for you to import, bc the files that are on the
repository are just digital versions of the SIL (etc) data sources and have
not been phonemicized or reformatted at all (in most cases). however,
there's been some discussion about adding the SIL data sources for
Ecuadori

[2016-02-16 15:51] amaliaskilton commented on #4
Yes, all VV sequences should be treated the same. My point about the
labialized velars involves whether certain Cu and Cw sequences should be
rewritten as one segment. @nataliacp @LinguList, I assume we can search per
file for Cuu and CwV sequences with regex?

On Tue, Feb 16, 2016 at 1:58 AM, thiagochacon notifications@github.com
wrote:

[2016-02-16 15:53] amaliaskilton commented on #18
English. The Spanish sources are written in all kinds of odd regional
Spanish and switching to a more standard (or at least a more uniform)
Spanish for the unified translations would create significant mismatches
between the glosses in the rows and the head gloss per row.

On Tue, Feb 16, 2016 at 1:58 AM, thiagochacon notifications@github.com
wrote:

[2016-02-16 15:54] amaliaskilton commented on #8
@nataliacp Thanks for fixing the encoding. I will do the quasi-phonemic
changes now.

On Tue, Feb 16, 2016 at 5:34 AM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-16 16:02] thiagochacon commented on #8
@amaliaskilton  I have finished it, Amalia. Sorry if you also did it.

@nataliacp what should be next for Kubeo? the same process as for Karapana?

As for the FUN and pHM, I guess we should keep quais phonemic and phonetic as distinct. so, no, don't copy FUN to PHM

[2016-02-16 16:05] amaliaskilton commented on #8
The Kubeo.tsv file on github still does not have quasi-phonemic
representations beyond the first 100 entries or so. @thiagochacon, you made
modifications somewhere else?

On Tue, Feb 16, 2016 at 8:02 AM, thiagochacon notifications@github.com
wrote:

[2016-02-16 16:08] thiagochacon opened #21 "Huber and Reed 1992 data on Tukano (and other colombian languages)"
Mattis and I have been working on a digitized dataset 375 words of Tukanoan languages from Huber and Reed. Since we are gathering all tukanoan lexical resources in github, I though it would be nice to add H&R as well, with the hope we could have it in Reflex. what do you think, @nataliacp and @sflavier ?

mattis, could you upload the Huber and Reed Tukano data currently in Edictor to github?

[2016-02-16 16:08] nataliacp commented on #20
I don't think there is need for them to be entered into the 740 spreadsheet first. the only thing that needs to be done is to add a column called TUE and put the exact same unified translation from the 740 wordlist, so they are linked with the rest of the same meaning.

[2016-02-16 16:09] thiagochacon commented on #8
I am doing the modifications and the template adjustments right now in my desktop : )

Date: Tue, 16 Feb 2016 08:05:42 -0800
From: notifications@github.com
To: tukano-project@noreply.github.com
CC: thiago_chacon@hotmail.com
Subject: Re: [tukano-project] Kubeo quasi-phonemic representations (#8)

The Kubeo.tsv file on github still does not have quasi-phonemic

representations beyond the first 100 e

[2016-02-16 16:11] nataliacp commented on #21
are these 375 words all in the wordlist or only a subset of them. if the second, then we would need to match the two files to keep the information of the unified translation. For the matching we would need a spreadsheet that follows the Reflex importation template (basically the Kubeo or the Karapana file I have uploaded) and which field is identical between the template and the 740 file to do the

[2016-02-16 16:12] nataliacp commented on #18
ok, so we decide that all items in lax rows need to be given appropriate unified translations in english (this is in the TUE field in the template).

[2016-02-16 16:12] #18 closed, assigned to nobody

[2016-02-16 16:16] nataliacp commented on #17
So, are now both the concept and all the data correct in the spreadsheet? if yes, you can close this issue.

[2016-02-16 16:17] amaliaskilton commented on #17
They are both now correct.

[2016-02-16 16:17] #17 closed, assigned to nobody

[2016-02-16 16:20] nataliacp commented on #16
ok, I presume this is dealt with with the tone on the r.
However, my understanding is that the ũû sequence is within the quasi-phonemic delimiters, so I don't see why the orthographic conventions of the source are relevant. From the description I understand that both vowels are of the same quality and the tone applies to both as a unit. Shouldn't this be represented as ũ̂ũ̂?

[2016-02-16 16:20] amaliaskilton commented on #21
The items in Huber & Reed are basically an extended Swadesh list. They are
not a subset of the 740-list terms because the Huber & Reed gloss list
(like Swadesh) includes pronouns and some other grammatical words that are
excluded from the 740-item list.

On Tue, Feb 16, 2016 at 8:11 AM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-16 16:22] amaliaskilton commented on #20
Perfect. How about items that are not on the 740-item list? Can I just give
them a one-word English gloss?

On Tue, Feb 16, 2016 at 8:08 AM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-16 16:23] nataliacp commented on #8
yes, the next step is to adjust the FUN forms and any other columns that need sorting, making sources uniform, lax rows, polysemous words and the like.

[2016-02-16 16:23] thiagochacon commented on #16
We didn't change the way Ramirez represented tones. I can include a description of what < ´ > and < ^ > represent, but I though it would be simpler to leave the system as Ramirez analyzed. (I mean his notation are not IPA not the letter tones we decided to use with some languages)

that being said, ũ̂ũ̂ is not a phonetic or phonological or orthograpic form in Tukano.

Date: Tue, 16 Feb 2016 08:2

[2016-02-16 16:25] nataliacp commented on #20
exactly, or even longer if necessary. the idea is to accurately describe the original translation with an eye to make it uniform across languages. does that make sense?

[2016-02-16 16:28] nataliacp commented on #16
I was under the impression that we are using strict IPA for the FUN field. Ultimately, it is not my decision to make, but as you know I am a big proponent of consistency across the dataset. I don't think it is a good idea to have the same symbols meaning different things in different languages.

as for the ũ̂ũ̂ sequence, I intended it to be the quasi-phonemic form according to the conventions we

[2016-02-16 16:31] #10 closed, assigned to nobody

[2016-02-16 16:32] nataliacp commented on #2
yes, in the form fields: PHT, PHM, FUN, ORT (of course not all the fields exist for all languages).
then, close pronunciation variants will be represented with a  ~ in the same cell, while forms that are different enough to be considered distinct items, need to be split in multiple rows (with all that entails to create a new row, i.e. fill in all relevant data and give it an identifier at the **ve

[2016-02-16 16:32] #2 closed, assigned to nobody

[2016-02-16 16:32] thiagochacon commented on #14
Lax rows
@nataliacp there was just once lax row "carayuru". I forgot to add a note in the CSA field. Could please do that?

Compounds
Now I recall that we had a different marker for compounds. I guess it was  a plus sign +. @levmichael ?

If so, can you change that automatically Natalia?

I think we should explicitly mark compounds as such (I am not sure if I have been consistent in my own Kubeo d

[2016-02-16 16:37] levmichael commented on #16
@thiagochacon, I understand why you decided what you did for the tones, but I think that Natalia raises a good point; it would be most consistent just to have high and low tone marks in the quasi-phonemic representation. Could you give us a quick summary of how Ramirez marks tone?

[2016-02-16 16:44] thiagochacon commented on #16
I understand and am happy to change things on the Tukano data if we decide to.

But notice that I am using Ramirez tone in a more phonemic nature, not phonetic. The way we decided to represent tones phonemically  is a little awkward for Tukano, especially for some phonetic and phonemic details.

But if we decide to the transformation from Ramirez to IPA,the transformations would be:

"^" changes t

[2016-02-16 16:44] amaliaskilton commented on #7
@nataliacp: I checked the Mai data source file which I most recently sent
you, and I'm not sure what's going on with the 220 missing items. These are
on the complete lexicon list (or at least the first 25 were when I searched
for them individually). however, when I copied and pasted the
quasi-phonemic forms out of the 740-item list to search for them in my
lexicon, often the search did not work -

[2016-02-16 16:47] levmichael commented on #14
I just went through the conventions tabs on our various spreadsheets, and didn't find anything regarding compounds, although I believe we discussed the issue (so presumably somewhere in one of our threads). Before we decide what we _should_ do, I think it would be helpful for us to summarize what each of us _has_ done. @amaliaskilton has already said something about this -- @thiagochacon what did

[2016-02-16 16:51] levmichael commented on #16
I'll probably regret asking :), but what is the way in which this is an inexact representation of the tones?

[2016-02-16 16:59] amaliaskilton commented on #7
@nataliacp: Delimiters now done in 740.

On Tue, Feb 16, 2016 at 8:43 AM, Amalia Horan Skilton <
amalia.skilton@berkeley.edu> wrote:

[2016-02-16 17:04] levmichael commented on #4
Indeed, these sequences should be rewritten as single segments. Everyone agrees?

[2016-02-16 17:15] levmichael commented on #19
Yes, exactly, it's "being part of" that needs to be clarified. We certainly need to acknowledge our sources of financial support, which includes Russell's $$ to both Thiago's RAs and Amalia, but the latter funds did not come with any strings (or even implications) that the any data collected with that support would be incorporated into Glottobank. (It is worth noting that some of us, especially Am

[2016-02-16 18:18] LinguList commented on #21
I'd suggest to wait at this stage. The data is online, even on another
github, and what is nice, we have mapped all concepts to the
concepticon. Before adding Huber data, the 740 word concept list needs
to be mapped to the concepticon. We can upload it to github, but I'd
suggest we keep this for later to not get overwhelmed with too many bits
of data and the like, since there's still lots of thing

[2016-02-17 00:00] thiagochacon commented on #4
yes, provided we are sure about the status of u/w

[2016-02-17 09:17] thiagochacon commented on #19
Yes, Lev.

I guess everyone in Glottobank would see this as collaboration outside the Glottobank.

Date: Tue, 16 Feb 2016 09:15:40 -0800
From: notifications@github.com
To: tukano-project@noreply.github.com
CC: thiago_chacon@hotmail.com
Subject: Re: [tukano-project] should we share data on GitHub? (#19)

Yes, exactly, it's "being part of" that needs to be clarified. We certainly need to acknowledge

[2016-02-17 09:29] LinguList commented on #19
Adding these funding things is best to be done with the README.md file
in the repository. When you just open it, everybody will look at that.

You can also insert images and the like, but I guess the MD-format is
pretty easily self-explaining. Let me know if there are questions, though.

As to funding, I'll add my current funding agency, since my salary
currently comes from them (the DFG).

[2016-02-17 09:47] nataliacp commented on #7
thanks Amalia!
We are going to try again after we regularize both files for the characters and see what happens.

[2016-02-17 09:50] LinguList commented on #20
It was the first time for longer that I looked at the repo, and I'd suggest to really move all files in the main folder to a subfolder, which you may call "ODS" "XLSX", or spreadsheet. Otherwise, it's really hard to see what's going on.

[2016-02-17 09:55] nataliacp opened #22 "How does tone evolve in Tukanoan?"
Given the latest discussions on how to represent tone, if tone should be encoded with the vowel and nasality in one symbol etc, I would like to put forward a question that I think is at the heart of all this.
How do you think tone evolves in Tukanoan languages? From my very little background on tonal languages and tone, I have understood that tone may affect sound change (justifying e.g. treating

[2016-02-17 09:56] nataliacp commented on #20
just so I don't do anything wrong,  @LinguList  can you erase all the stray files from the central folder. They are all duplicated in the digitized files folder that Amalia created.

[2016-02-17 09:58] LinguList commented on #22
Yes, I am explicitly d'accord with this. Why? Since things that are suprasegmental should be represented suprasegmental, and we can hadnle them easily in LingPy by exactly aligning tone for tone in alignments, but what you need is that it is displayed at the beginning or the end of a syllabic unit, so that alignments look nice. And if it's independent of the vowel, one should not mix information h

[2016-02-17 10:01] LinguList commented on #20
done

[2016-02-17 14:11] levmichael commented on #22
Regarding your question, @nataliacp's, yes, tone is clearly suprasegmental in Tukanoan languages, and it has in part evolved in the manner you sketch, with tones and tonal patterns developing independently of the segmental material on which they occur. There is also clear evidence linking the evolution of segmental and tonal elements, as in the case of the development of lexical low tone in Mai th

[2016-02-17 16:05] nataliacp commented on #22
I discussed this with Seb at some length today and he thinks he can automate it if he is given enough info about the "realm of possibilities". We were mainly working on maihiki today so my observations come from this language. Since there is this bimoraic entity that we think is something in between two syllables and a diphthong (correct me if I am wrong, that's what I got from the discussion till

[2016-02-17 16:18] nataliacp commented on #7
unfortunately, the news are not that great for Maihiki. With the regularization across both files to decompose all segments and diacritics, the number of not found items fell by 42. So, encoding was partially the problem, but not the only one. Now there are still 177 items in the 740 list that cannot be found in the full source. We looked up manually some of them and here is a summary of the error

[2016-02-17 16:26] levmichael commented on #22
The question of the prosodic size of the entity for which tone is marked depends on the level of representation. At the quasi-phonemic level -- which is the level at which we are working -- the tone would be marked for each mora (i.e. vowel). At the phonemic level in Máíhɨ̃ki (and in general in the family), you're right that the tonal specification occurs at the morpheme level (which are indeed mo

[2016-02-17 16:30] levmichael commented on #7
Thank very much for this. Sorry that the Mai data is being difficult. We will try to deal with this promptly.

[2016-02-17 16:39] amaliaskilton commented on #22
@nataliacp on your original question, the only case in which it is clear
(to me) that a sound change took a segmental feature and produced a tone is
low tone tonogenesis in Mai. There, proto Western Tukanoan glottal stops
were lost and yielded a lexical low tone on the preceding TBU (= mora), as
Lev mentioned. However, H and zero tones in Mai and Koreguaje (closely
related and not extremely differ

[2016-02-17 18:56] nataliacp commented on #7
I have just sent by email to Lev and Amalia the newest Maihiki file that Seb made which includes all the multiple matches in yellow as well as the non-matches in blue.
Here is what you need to do with this. (and please ignore my previous instructions, Seb got better ideas about how to deal with this!)

blue lines: the data are taken from the 740 file and they cannot be matched to the whole source.

[2016-02-17 18:56] nataliacp commented on #20
thanks!

[2016-02-17 18:56] #20 closed, assigned to nobody

[2016-02-17 23:55] thiagochacon commented on #22
I want to address this issue and the one about tukano tone in more detail later, but given the discussion about the level of represenration (phonological or ohonetic) and the form of representation (letters or diacritics) I would like to make a suggestion.
Clearly we want the two level of representations: phonological and phonetic. but we do not have both for all the languages. My suggestion is th

[2016-02-18 06:50] LinguList commented on #22
I'd propose to stick to the Chinese annotatioin framework for tones,
using digits and thinking of them like a melody on 5 different scales:

35 means rising from the mid to the top, 51 means falling, contours are
written as 214, and flat tones can be written as 3 indicating shorter
duration, or 33 indicating longer duration.

Tone letters should follow after the syllable, which is important if
the

[2016-02-18 16:22] levmichael commented on #22
Tukanoan languages only have two tone levels (H and L) and none of the ones I'm familiar with have contour tones (in the sense of having multiple tones on a single TBU), so, fwiw, I think the Chinese annotation framework is a bit of overkill. I saw above that @thiagochacon likewise voted for letters, and I think this will be the general feeling of the Tukanoanists (though if anyone feels different

[2016-02-18 16:31] nataliacp commented on #22
so, I don't think we can do superscripts capital letters (superscript
numbers are unicode characters, while letters no from what I understand)
and I personally think that having H and L all over the forms is very
distracting. Since there are only two levels, I think it is very easy to
just write 1 and 2 in superscript and there is no room for confusion and
one can read the form normally as well.

[2016-02-18 16:42] LinguList commented on #22
You have all of them superscript letters in unicode now, even H and L,
but I also definitely vote for superscripts and in the end of syllables
for those trivial cases (both 1 and 2 or H and L fine with me). For the
others with spreading tone, let's keep thinking.

[2016-02-18 16:56] nataliacp commented on #22
ah ok, good to know! no problem with H and L then! Can somebody explain to
me the spreading/floating tone issue so i can think of possible solutions
reflex-wise? is it the case that phonemically the tone belongs to
syllable/vowel 1 and it is realized along with syllable/vowel 2?

On Thu, Feb 18, 2016 at 5:42 PM, Johann-Mattis List <
notifications@github.com> wrote:

[2016-02-18 17:06] levmichael commented on #22
Oh, yes, if it wasn't clear, I'm also in favor of superscripts

[2016-02-18 20:44] amaliaskilton commented on #22
The floating tone situation is more common in ET than in the languages I am
familiar with, but yes, you have a tone that is underlyingly associated
with TBU 1 but which is realized on TBU 2, i.e. just to the left or the
right of the TBU that has the tone underlyingly. An example from Elsa's
work is the causative morpheme -Hò in Tatuyo: the morph is itself L but it
induces an H on the preceding TB

[2016-02-19 00:59] thiagochacon commented on #22
Tone letters is what we need. Contour tones exist in Tukano and Barasana. Floating tones in several ET languages.

I don't really like the idea of a tone letter superscrit to a vowel (or syllable for languages like Kubeo where there is no tone contrast in VV sequences). First because it is really distracting when analying the segmental data. Second, because I am afraid this may impose some difficu

[2016-02-19 01:02] thiagochacon opened #23 "Morpheme boundaries"
This is to summarize the morpheme boundary symbols we are using in the data and how we should use them in terms of field in the database. Currently I guess most of the language that have morpheme boundaries have it in PHM phonological representation and most languages do not have it in FUN. Is this correct? I wonder if having in both fields or just one is an issue for  database consistency and if

[2016-02-19 01:10] thiagochacon commented on #16
Let me describe a little bit of Tukano tones and Ramirez's representation:
Ramirez analyzes three underlying tones:
1. "register-tone", represented by ^
2. "contour tone", represented by  ´
3. "low tone", with no diacritic

every root has an undelrying tone. a few suffixes have it too. every word has one underlying tone. in compounds, the tone of the left root dominates over the right root.

the "

[2016-02-19 16:21] nataliacp commented on #22
I think there is one question that should be our main guide in how to represent tone and at which level. This is a comparative-historical project, so we want a representation of the data that gives us most access to how things evolve. If we largely believe that tone and segments are different entities evolutionarily (that sometimes interact), then they should not be considered one entity. In terms

[2016-02-19 16:25] nataliacp opened #24 "topics for skype meeting"
This is to gather the topics we would like to talk about and maybe decide upon during our skype meeting on Monday. I have some proposals below, please feel free to add/subtract/correct.
- tone representation (both at what level and with what form)
- boundaries (morpheme, compounds)
- are double-checking procedures clear to everyone involved
- concrete plan for the May talk

[2016-02-19 17:34] amaliaskilton commented on #7
Hi Natalia,

I looked at this file and made the corrections you requested to the first
1050 rows (roughly 1/3 of the file). However, I'm not totally sure that I
understood what you wanted done with the polysemous rows, so I'm going to
send you my partially-edited file and a text file that explains what I did
and where, in a separate message.

On Wed, Feb 17, 2016 at 10:56 AM, Natalia Chousou-Polyd

[2016-02-19 19:09] nataliacp commented on #7
Hello,
from a quick look, things are not totally ok. No words should have identical id numbers. I think it is way easier to talk about it rather than write another long email with instructions. I am available right now and for a couple of hours at least if you are, or then on Monday. let me know when it is good for you.

[2016-02-19 20:24] LinguList commented on #22
The alignment algorithm doesn't care, since it uses sound classes, but if you feed it tone, it converts to tone classes, and there it cares. So if you just use the diachritics, it will be fine, but I won't be happy, since I want to map all symbols to CLPA, a new project I follow up, where I try to give explicit phonetic (as best as possible) definitions of sounds in data. As a sub-dialect of IPA,

[2016-02-19 20:33] amaliaskilton commented on #7
Can we talk before the group Skype on Monday?

On Fri, Feb 19, 2016 at 11:09 AM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-20 14:41] levmichael commented on #22
I agree with @nataliacp that deferring the decision on how to deal with tone is a bad idea, so I think it makes sense to reach a decision now. I can definitely see the advantages for our work for having a representation where tone is separate from vowels, e.g. as represented with following tone letters (whether superscripted or not), and occupying their own slot for alignment purposes, so I in gen

[2016-02-20 14:52] levmichael commented on #24
Thanks, @nataliacp -- this is very helpful.

There's one thing related to the meeting that I'd like to say now, so that we all have time to think about this before we talk. I think we have been making very good progress in sorting through a number of critical technical and conceptual issues, and that we should feel good about this important work. It seems clear, however, that because of these and

[2016-02-20 14:57] levmichael commented on #7
@nataliacp and @amaliaskilton, if its practical, I'd like to participate in the meeting, if it happens this weekend. I'm free any time except after 12:30pm on Sunday.

[2016-02-20 15:11] levmichael commented on #16
Thanks for this @thiagochacon. It seems to me that at the quasi-phonemic level, the representations that you provide about in (1)-(4) are exactly what we want. Whether they are visually depicted with acute and grave accent marks, superscripted letters, or something else is a separate matter, but I think the level of representation we want is exactly what you have provided here. What are your thoug

[2016-02-20 23:20] thiagochacon commented on #22
I also think that the decision must be made now but I am skeptical whether we will be able to implement it in time though.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: levmichael notifications@github.com </div><div>Data: 20/02/2016  09:41  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.co

[2016-02-20 23:22] thiagochacon commented on #16
Indeed, lev, but as you can see there are different patterns and that was the reasom why I asked my RAs not to change Ramirez orthographic/phonological representation. If we are to transform it by hand it will take forever

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: levmichael notifications@github.com </div><div>Data: 20/

[2016-02-20 23:24] thiagochacon commented on #22
We need to represent floating tones at least in one level of representation. It could be in the PHM and not in the FUN but I would rather have it on both though

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: levmichael notifications@github.com </div><div>Data: 20/02/2016  09:41  (GMT-05:00) </div><div>Para: digling/tukano-pr

[2016-02-20 23:28] levmichael commented on #16
Agreed -- it would be slow. Well, there are a number of competing desiderata that we need balance here, and it will probably be most efficient to discuss verbally, so let's hold off on further discussion until the skype meeting.

[2016-02-20 23:34] levmichael commented on #22
Yeah, I agree. I suppose what I said about the quasi-phonemic representation sounded like I wasn't interested in having floating tones represented at that level -- but I do!

[2016-02-20 23:34] thiagochacon commented on #24
It looks like the time australia for the meeting will be 4am. I can try but cant promise to participate.
As for an alternative plan to the talk, for the lexical component we have Huber and Reed data already digitized in Linpy. We ca use that as preliminary/experimental data set. Perhaps we will need to complement some of the data, especially with some WT languages.... but that seems a good alterna

[2016-02-20 23:44] levmichael commented on #24
Jeez -- 4am is pretty brutal, @thiagochacon . We'll certainly understand if you're unable to make it. As for alternative talks, thanks for your suggestions. FWIW, my personal inclination would be to invest time and energy in an alternative talk _only_ if it actually moves our work along in some useful way. I don't think it makes sense to expend the effort just for the sake of having a talk -- alth

[2016-02-21 01:45] thiagochacon commented on #24
Yes. But in case I do not participate let me stress that this the only talk I have at Amazonicas and in thia semester. In addition we have alrwady postponed one talk last year. So I am perhaps more inclined than some of you to find a way to have this talk.
But ultimately I realize we are doing something much bigger and important than having a talk.<div>
</div><div>
</div><div>-------- Mensagem ori

[2016-02-21 11:18] nataliacp commented on #24
I am sorry for the time being so bad. I didn't know Thiago was in Australia and he hadn't filled in the doodle earlier. I actually think Thiago would be necessary in this call, so I would like to try so he can make it. I have no problem putting it later so it is a better time in the morning for Thiago. I usually stay up till 11pm or midnight, so it is not a big deal for me. What about you @LinguLi

[2016-02-21 11:23] nataliacp commented on #22
I think that what Lev suggested is feasible. What I still don't fully understand is what a representation of a floating tone looks like. In Amalia's example for the causative, I assume that the floating tone is the "hidden" one that is realized on the root when the causative is attached, but, this being a lexical dataset makes me wonder if and how we want to have morphemes in isolation represented

[2016-02-21 13:28] LinguList commented on #24
I could also do later the evening.

[2016-02-21 14:10] levmichael commented on #24
This would be great -- it would be much better to have @thiagochacon involved in the meeting.

[2016-02-21 14:15] levmichael commented on #22
Floating tones are always associated with a root or affix in Tukanoan languages, and are realized on preceding or following roots or affixes. When tones are marked with diacritics, as the typically are in the representations linguists use, the floating tones are often depicted as tone letters preceding or following the root or morpheme, depending on whether they are realized on preceding or follow

[2016-02-21 14:28] levmichael commented on #24
Ah, I hadn't thought about this, and certainly understand why this would be a point of concern. Well, in that case, if we decide that the lexical project cannot yield a talk by then, maybe one of the alternatives you suggested, like your and Mattis' phonological feature talk, would make sense. Perhaps this would be best to discuss via skype.

Yeah, this bothers me as well. But I feel that I've cer

[2016-02-21 15:06] gomezimb commented on #24
please tell me what time would the be in Cajarc, France.

Elsa

[2016-02-21 17:11] gomezimb commented on #22
Sorry but I was in a family meeting and couldn’t read/answer the storm of messages you sent since the 11th. I could read them in the train yesterday and I think the most urgent point is TONES.
Let me remind you that before we started entering the data we made some decisions concerning tones. We had two levels of representation (I don’t know if they correspond to your PHM, FUN … I’m a bit lost):
-

[2016-02-21 21:45] nataliacp commented on #24
it seems that pretty much everybody is ok with pushing the meeting later. so, we will start 2 hours later from whatever time you had in mind. This means 8pm in France, 11am in Berkeley, 4pm in Brasilia and 6am in Australia. It is still a bit brutal for Thiago, but not as much as 4am! Thanks everybody for being flexible!

[2016-02-21 22:46] thiagochacon commented on #24
Sounds good and thanks!!!

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Natalia Chousou-Polydouri notifications@github.com </div><div>Data: 21/02/2016  16:45  (GMT-05:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Cc: thiagochacon thiago_chacon@hotmail.com </div><div>Assunto: Re: [t

[2016-02-22 21:50] levmichael opened #25 "Amazónicas talk"
I think we came to a good decision regarding our Amazónicas talk -- much better than my initial suggestion -- so thanks to Kris and Elsa for really pushing the idea. I'm opening up this issue to give us a venue for brainstorming about the talk and discussing it.

So, what are some things that we want to make sure to cover?

[2016-02-22 22:17] thiagochacon commented on #23
anything decided on this issue after I left?

[2016-02-22 22:25] thiagochacon commented on #22
Anything decided on here? I understood that we will have $$ quasi-phonemic representation with surface tones on each mora plus a floating tone. What was not clear to me is what symbols we will use to write the tones: IPA, tone letters or numbers?

I understand there are many issue regarding the computational aspect of it, so I would like to insist to have tones represented in a separate field, one

[2016-02-23 16:27] #24 closed, assigned to nobody

[2016-02-24 14:21] levmichael commented on #22
Just to make sure that I understand what you're proposing, @thiagochacon, are you proposing that we have _two_ representations? One in which the segmental material and tones are combined, e.g. $kaLdaH(L)$ (setting aside the issues of superscripts and numbers vs. letters), and a second which would consist just of the tonal melody, e.g. LH(L)?

[2016-02-24 14:28] krstenzel commented on #22
Hi All,

I have joined the Github thing but didn’t see any posts with examples related to our discussion the other day. I thought someone was going to summarize the suggestions with examples for us to refer to. I’m really quite unsure as to what entries are supposed to look like at this point.

We had a full set of guidelines for the original entries which my student and I tried to follow the best

[2016-02-24 14:38] levmichael commented on #22
@krstenzel, you're right to be confused :). There is still much to be decided on the tonal representation, but this is the thread that we'll be doing that on. Watch this space for more!

[2016-02-24 14:40] krstenzel commented on #22
OK, I’ll wait to see what’s decided. I still have checking to do, but since time is so tight for me, I would rather do the checking and make changes all at once rather than have to do it several times.

From: levmichael [mailto:notifications@github.com]
Sent: Wednesday, February 24, 2016 11:38 AM
To: digling/tukano-project
Cc: krstenzel
Subject: Re: [tukano-project] How does tone evolve in Tukanoa

[2016-02-24 14:44] levmichael commented on #22
Agreed -- it makes sense to do both at the same time.

[2016-02-24 16:40] nataliacp commented on #22
I was supposed to do the summary and restart the discussion, but I was
completely exhausted today and ended up staying at home. I am sorry. I will
get to this either tonight or tomorrow morning.

On Wed, Feb 24, 2016 at 3:44 PM, levmichael notifications@github.com
wrote:

[2016-02-25 17:20] nataliacp commented on #23
no, nothing was decided on this issue.
From what I understand, Mattis's algorithm doesn't tolerate (at least as is) any dashes and things like that. @LinguList can you confirm this?
We could have dashes and other symbols in various fields in Reflex, and we could remove them automatically from the FUN field before it is treated by the automated alignment algorithm. (here, I would like to clarify, t

[2016-02-25 18:16] thiagochacon commented on #23
Hi natalia
I think my last message got my symbols converted by github
I meant
Hyphen for affixesEqual sign for cliticsAnd plus sign for compounds
I think we should keep the FUN forms with the minimal information necessary. So agree on not having boundary symbols
The same would go with tones for me

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original ---

[2016-02-25 18:34] nataliacp commented on #22
ok, here are some of the things that came out from the skype meeting and what I think we still need to address in order to reach a clear decision on tone representation.
Things on which I think everybody agrees:
1. We want tone to be a different entity (and here I mean historical entity) than the vowels for the alignments. This approach reflects that tone often evolves independently of vowel quali

[2016-02-25 19:00] nataliacp opened #26 "floating tones"
In order to find the best way to represent floating tones, I think it is important that we all understand the phenomenon. So, I did some basic reading on sandhi phenomena and on floating tones and here is what I understood. Disclaimer: I may not be using the most appropriate terminology sometimes, I am still learning!

Sandhi: From what I understand, these phenomena are about tone interaction, and

[2016-02-25 19:00] LinguList commented on #23
One more thing on this: one of the major improvements of my code is that
it explicitely handles morpheme boundaries (even partial cognate
detection is possible right now). But it is important to keep in mind
that missing morpheme boundaries will prevent the algorithm from
matching elements with boundaries with elements without boundaries.

So if you code "h a n d s u" one time, and "h a n d + s u"

[2016-02-25 19:11] LinguList commented on #26
Well, I was exactly pointing to this phenomenon in the context of Chinese, where you have the same surface tone that shows two different Sandhi forms, depending on it's origin (usually tonal categories of Middle Chinese, which go themselves back to initials and phonation differences in the ancestor).

So you may have a syllable which is pronounced [55](high flat) in the tone, but reflecting **two*

[2016-02-25 19:20] LinguList commented on #23
Update here, @thiagochacon, please submit concrete examples for all symbols you use for distinction of morphemes, like affixes, and the like. I'm actually willing to adapt LingPy's code, since I understand that a simple segmentation of a word into morphemes is not enough, and for future work also on [CLLD](https://github.com/glottobank/cldf/), it is important that we discuss these things.

If dash

[2016-02-25 19:41] LinguList commented on #23
As a quick online specification, where the current practice of LingPy is discussed, those who are interested can [have a look here](https://github.com/glottobank/cldf/blob/master/wordlist.md#sequence-representation).

[2016-02-25 20:51] nataliacp commented on #26
Thanks for this explanation Mattis.
I still think that the example you mention is more like a phonological rule. It is as if two phonemes (here tones) have merged in some contexts but not all, thus revealing that historically they are different entities. However, the tone is still associated with a syllable, it is not a separate entity.

[2016-02-25 21:01] LinguList commented on #26
But what does it mean that a tone is a separate entity? It is a lexical
entity, since it is not encoded in the syllable (you can have two
syllables that surface IDENTICALLY, but have different tone sandhi, so
you have syllable ma⁵⁵, one time meaning "horse", one time "hemp", but
it will have Sandhi ma²¹⁴ one time for "horse", and ma³⁵ the other time
for "hemp", so not phonological but lexical). Do

[2016-02-25 21:17] nataliacp opened #27 "treatment of wordlist"
Seb and I discussed recently how we are going to treat the 740 wordlist in reflex. Coupled with this are issues of "fake polysemy" that came up during a recent conversation I had with Amalia and Lev. (by fake polysemy, I mean that while a word is not polysemous from an emic perspective, it seems polysemous because it is present in two places in the wordlist).

So, the solution is the following:
Yo

[2016-02-25 21:23] nataliacp commented on #3
Just a clarification on LAX rows. We need those rows to be noted in a uniform manner so we can treat them automatically. Seb already corrected some of them, where -LAX was not at the very end of the gloss, or it was on the wrong column.
Please, if you add new lax rows be careful to add the -LAX tag
- in the EN_GLOSS column only and
- at the **very** end of the gloss

[2016-02-25 21:26] nataliacp commented on #7
I noticed a weird thing in the Maihiki data. There is one item dɨ́à translated as chupo and boil. I am not sure what is going on with this. In earlier versions it seems that this item was morphologically complex?

[2016-02-25 21:34] nataliacp opened #28 "Koreguaje problems"
I just sent you a template for Koreguaje that Seb made a couple of days ago. It follows the same conventions with the Maihiki one. Here are some things we would like to ask you about.

What should we do for the FUN field in Koreguaje? I don't see a form in $$ in the 740 file.

Also, please have a look at the entries for "sing". There is a mess with the delimiters there, which was not caught by our

[2016-02-25 21:40] amaliaskilton commented on #22
On Thu, Feb 25, 2016 at 10:34 AM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-25 22:07] amaliaskilton commented on #23
(a) Several Tuk languages have phonological processes which are conditioned
by morph boundaries. For example, in Western Tukanoan, allophony between
creaky d, modal d, and r is in part conditioned by whether the segment is
next to a morph boundary. Likewise, in Eastern Tukanoan, morph boundaries
sometimes stop nasal harmony from applying when it would apply in the same
(tautomorphemic) segmental e

[2016-02-25 22:08] amaliaskilton commented on #27
Thanks Natalia, I will implement this for the fake-polysemous words in the
Mai source.

On Thu, Feb 25, 2016 at 1:17 PM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-25 22:09] LinguList commented on #23
Okay, thanks, so have you already done the annotation in the data, regarding the boundaries? I don't remember to have seen them in what I looked at so far.

[2016-02-25 22:27] amaliaskilton commented on #26
Here is what floating tones are like in Tukanoan. This is a toy example
because the languages I am most familiar with do not have floating tones
and I don't want to make any inaccurate claims about other lgs.

Let's imagine we have a language which contrasts 3 surface melodies on verb
roots:
HH bábá-
LL bàbà-
HL bábà-

Now let's imagine that we have a suffix /ta/ which can attach to any of
t

[2016-02-25 22:29] amaliaskilton commented on #7
It's the noun 'boil,' like 'blister.' The earlier versions of the sheet had
a morphologically complex item for this concept, but I removed the
morphology because it is not constant across the paradigm (i.e. not same in
sg and pl).

On Thu, Feb 25, 2016 at 1:26 PM, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-02-25 22:33] amaliaskilton commented on #23
The data that I entered for Mai, Tatuyo, and Barasana has the boundaries.
The other languages in which I have a hand (Koreguaje, Colombian Siona,
Tuyuca) do not. This is in part bc the sources sometimes do not have enough
info about morphology to segment the forms they give.

On Thu, Feb 25, 2016 at 2:09 PM, Johann-Mattis List <
notifications@github.com> wrote:

[2016-02-25 23:11] LinguList commented on #26
Thanks for the explanation!

But the phenomenon is functionally the same with what we can see in Tone sandhi: you have to actually distinct lexemes which surface identically (as homophonous words, or, say, two classes of lexemes), but in certain combinations they will surface differently, or cause their neighbors to surface differently, thus triggering a distinctioin they don't have in isolation,

[2016-02-25 23:16] amaliaskilton commented on #26
I think the first of your three bullet-pointed options would be the easiest
to get used to, since the convention most of us use is bàbàH- or
bàbà(H) rather than something with an asterisk.

The primary difference is indeed that the alternation occurs on the
following morphs and not on the root. Another important difference from
Chinese-style tone sandhi is that (from my understanding) all morp

[2016-02-26 07:51] LinguList commented on #26
That is indeed a difference.

BTW: I think if there's just H and L, I would opt for this annotation with superscripts, but it is important to stick to capitals, since normal superscripts are reserved for aspiration ( see [wikipedia on superscripts in general](https://en.wikipedia.org/wiki/Unicode_subscripts_and_superscripts)).

So you could write things as
- b a ᴴ b a ᴴ , and
- b a ᶫ b a ᶫ

and ma

[2016-02-26 07:53] LinguList commented on #23
Sorry again for bothering, @amaliaskilton , do you have the boundaries in different forms, or do you use the same symbol regardless of the relation of morphemes (root, suffix, etc.)? And if you use different symbols, which ones do you use?

[2016-02-26 11:25] thiagochacon commented on #27
I was giving the polsymeous words the treatment you suggested first. I did so for Karapana and for Kubeo. Do I have to change things?

As for the kubeo, I am waiting to send the list once we have an agreement on morpheme boundaries and tones. Currently this is the situation regarding each issue:
- Tones are represented underlyingly in PHM (with indication of floating tones), phonetically and with

[2016-02-26 14:41] levmichael commented on #26
- b a ᴴ b a ᴴ⁽ᶫ⁾

This is quite close in spirit to the way Tukanoanists already 'traditionally' represented floating tones. If there are any leftwards spreading floating tones (and here and ET specialist will need to speak up), I'd be inclined for the following, more iconically transparent, representation:
- ⁽ᶫ⁾b a ᴴ b a ᴴ

This seems to me to be simpler that additional superscripts indicating dir

[2016-02-26 14:50] amaliaskilton commented on #26
There are left edge floating tones in Barasana and Tatuyo.

I don't have very strong opinions about the superscript representations,
but a question: are capital superscripts available in IPA fonts like
Charis? I can't find them on my IPA keyboard.

On Friday, February 26, 2016, levmichael notifications@github.com wrote:

[2016-02-26 14:58] levmichael commented on #22
Let me just briefly add that I agree with all of @amaliaskilton's responses to @nataliacp in the above message. I would only add that yes, we have to take as given the surface tones given or deducible (i.e. from underlying tones) from the sources we are working on. If there are multiple sources with conflicting information for a given language, that is a bridge we will cross when we encounter it.

[2016-02-26 15:00] levmichael commented on #27
Thanks very much to you and Seb for getting this figured out, @nataliacp.

[2016-02-26 15:08] LinguList commented on #26
@levmichael, I prefer to avoid any representation which separates tones
over different positions in the word, since this is first visually not
pleasing in alignments, but also difficult to handle in algorithms.

@amaliaskilton, Unicode and IPA keyboard are two different things.
Unicode offers many more characters than IPA.

[2016-02-26 15:40] levmichael commented on #26
@LinguList, I think we are quite clear on the differences between Unicode and IPA; I think @amaliaskilton's question was a practical one about how to generate the Unicode symbols for superscript H and L, since they don't appear on the IPA keyboards that linguists tend to use.

[2016-02-26 15:46] levmichael commented on #26
@LinguList, OK, I see what you're thinking. What about:
- b a ᴴ⁽ᶫ⁾ b a ᴴ ?

[2016-02-26 15:50] LinguList commented on #26
opposed to which alternative annotation?

[2016-02-26 15:51] amaliaskilton commented on #23
In those lgs I used a dash for all of root-prefix, root-suffix, and
root-root. In addition, in the comments field for each morph complex word,
I wrote 'complex' or 'compound' and then the morphological analysis of the
word.

On Thu, Feb 25, 2016 at 11:53 PM, Johann-Mattis List <
notifications@github.com> wrote:

[2016-02-26 15:57] levmichael commented on #26
As opposed to ones that require an additional symbol to indicate the direction of association of floating tones. Here the convention would be floating tones associated with leftmost syllable associate leftwards, and floating those associated with the rightmost syllable would associate rightwards.

[2016-02-26 16:28] LinguList commented on #26
if there are no three-syllabic words, and no word has two floating
tones, and you indicate morpheme boundaries in case stuff is attached,
this is feasible, although you should keep in mind that in cases where
you have cognate floating tones which spread in different directions,
you won't be able to see that in the alignment...

[2016-02-26 16:55] levmichael commented on #26
I'm not sure all the restrictions you stipulate above are necessary under the representation conventions I suggested. So here is an example of a three syllable word with a leftward-associating LH tone and a rightward associating HL tone.

*b a ᴴ⁽ᶫᴴ⁾ k aᶫ b a ᴴ ⁽ᴴᶫ⁾

This doesn't seem problematic to me, but what do you think, @LinguList?

[2016-02-26 18:53] LinguList commented on #26
I was more thinking of situations where you have a word, like, say:
- b a ᴴ⁽ᶫᴴ⁾ k a ᶫ

from language x, and a word like
- b a ᴴ k a ᶫ⁽ᶫᴴ⁾

from language y, and these words are cognate, and you align them, and then you do not align the information regarding floating tone, since you have spread it over two syllables.

[code]

If that is unlikely to happen, I think it's fine.

[2016-02-26 20:06] gomezimb commented on #22
Comments to Thiago, Natalia & Amalia messages:
1. We want tone to be a different entity (and here I mean historical
   entity) than the vowels for the alignments. This approach reflects that
   tone often evolves independently of vowel quality, but gives us also the
   opportunity to treat tone and vowel quality as "context" of the other.

I think everyone agrees that tone and segments should be t

[2016-02-28 01:15] levmichael commented on #26
I see your point. I think that the concern that you express is the tip of the iceberg, in the sense that I can also easily see wanting to align floating with tones that are associated with particular TBUs, which will be similarly problematic. At this stage, it is not clear to me which of the types of conventions that we are considering would actually be superior, so my personal inclination is to a

[2016-02-28 01:46] amaliaskilton commented on #26
My impression is that floating tones in Eastern Tukanoan languages are
quite often due to diachronic loss of a vowel with preservation of its
tone. I believe apheresis is the source of floating tones in Kotiria (but
I do not have Kris' book at hand to check) and in our skype conversation
Elsa mentioned segment+tone prefixes in Tatuyo which are only tones in
Barasana. So it is extremely likely we w

[2016-02-28 08:14] LinguList commented on #26
In the end, all decisions go also back to questions of frequency. For example, how often will FT point to the left, how often will it point to the right, and how often are there cognate words which developed FT in two daughter languages pointing in different directions. If it's one case in the end that does not even occur in your lists, I'd just ignore it, if it's more, I'd reconsider.

It's up to

[2016-02-28 20:19] thiagochacon commented on #26
I initially like Lev's suggestions for the representation of floating tones, but I think it would be a bit problematic for monosyllables.

Let me summarize things to see if I fully understand it (which may serve for others as well).
- A floating tone will be indicated in parenthesis
- If in the right edge of a word it associates rightwards
- If in the left edge it associate leftwards

Is this corr

[2016-02-28 20:32] thiagochacon commented on #23
I think we must have boundary symbols listed for every language and try to normalize things when importing it.

I have seena distinction between affixes and clitics in the morphophonology of Kubeo and Kotiria. Indeed, very few people explore this boundary issue in the Tukanoan languages, but at least for Kubeo it is the distinction between affix - clitic - compound is quite important for explainin

[2016-02-28 20:48] levmichael commented on #26
@thiagochacon -- yes, that's exactly what I would prefer! But I was trying not to stray too far from @LinguList's original idea...

[2016-02-28 21:06] thiagochacon commented on #22
1. Tones must have an independent representation
2. We want surface and underlying tones
3. A pure tonal field would begreat, where surface tones would have a tone letter H or L, and a floating tone would be in parenthesis (H) or (L)

Now things we still need to do
- For language we have no source's tones, we can't provide any underlying or surface tones. They remain as they are (Which are: Kor, S

[2016-02-28 21:10] LinguList commented on #26
Okay, but what about cases where FT is in a compound with one mono-syllable and something before and after? You see,  computationally, this means there is no way to guess where the FT belongs to, and since I'm looking for solutions feasible also for other language families, not only for TK, it is important that all things are thought about, and here, putting a tone in front of  a syllable instead

[2016-02-28 21:15] LinguList commented on #26
Just to re-inforce problematicity of spreading the information, think of the opposite case, where the syllables are shuffled:
- k aᶫ b a ᴴ⁽ᴴᶫ⁾ ⁽ᶫᴴ⁾ b a ᴴ

This is ambiguous and problematic and parsing will be an obstacle.

And if there are monosyllables and bisyllables, and FT can apply to either of them, don't forget about morpheme segmentation! So given @thiagochacon's point with mono-syllables,

[2016-02-28 21:17] thiagochacon commented on #26
ok, @LinguList , so you don't want to separate the information and don't want to have syllable edges (left or right) indicating direction of association.I see your point. I think more diacritics would make the data less elegant, but maybe separating the information gives you the same impression too.

I would leave for you and @sflavier to decide how to proceed on this.

[2016-02-28 21:24] LinguList commented on #23
Thanks for the examples, @thiagochacon. Compunds are pretty simple, I guess, and a "+" seems to be in order as a symbol. With the other two, I would be concerned if we encounter infixes in addition to affixes (surely not for TK, but since the representation should ideally be generalizable within CLPA, we need to think about this).

Here, we face ambiguities with prefixe vs. suffix vs. infix. Alrea

[2016-02-28 23:55] levmichael commented on #26
I'm interested in hearing minimally what @amaliaskilton and Elsa think about this issue.

[2016-02-28 23:57] levmichael commented on #23
@thiagochacon, I like your boundary symbols. I'm very interested to hear what Amalia thinks, though, since any decisions we make will have significant implications for the data she has and will be processing.

[2016-02-29 00:03] amaliaskilton commented on #26
I think the superscript dash is a fine solution and easy to produce from
what we already have. I'm not aware of morphs which have floating tones on
both edges in any Tukanoan language (in fact I can hardly think of examples
like that from the better-studied African and SEA tone languages).

I agree that floating tones make morpheme boundaries more important, and I
am fine with any notation for mor

[2016-02-29 00:04] levmichael commented on #23
@LinguList, I appreciate the point you're making re: CLPA, but I must admit that what _I_ want is an economical solution for Tukanoan, and I want it soon, so that the work can resume. I'm not trying to be obnoxious, and I don't mean to suggest in any way that CLPA-oriented issues aren't important, but I think that we're in danger of getting very bogged down in issues that have very little to do di

[2016-02-29 00:27] amaliaskilton commented on #23
@thiagochacon that's very interesting data. @gomezimb and I talked about a
similar phenomenon in Tatuyo which Elsa attributes to the prosodic size of
the elements rather than their position on the prosodic hierarchy.

I approve of these boundary symbols too, with three caveats -

1) We should distinguish different boundary symbols for prefixes and
suffixes. This is necessary because there are a ha

[2016-02-29 06:12] LinguList commented on #23
@levmichael, I understand your point and that you think more with
respect to TK, but the help that my algorithms provide and the work I
invest in pretty dumb tasks like parsing through files, are also things
to speed up your project. So if I spend my time in discussions, coding,
and thinking, I hope you understand that I need some payoff for my own
work (and I have my own official research project

[2016-02-29 10:52] gomezimb commented on #26
Just to make sure that we are referring to the same entity when we talk about Floating Tones FT, let us work with a real ET language. Given the following representations, could you derive the surface tones?

 ⁽ᴴ⁾ idi ᴴ ⁽ᶫ⁾ re
 ⁽ᴴᶫ⁾ b a a ᴴ re

[2016-02-29 11:13] nataliacp commented on #23
Hello everybody. Sorry I am getting back to this only now. I think we are running into the danger of over-complexifying our lives with so many conventions. From my TG experience, as Amalia also said, it may be often difficult to tell if it is a root-root or a root-affix complex form. Also, what Amalia said about bimorphemic words being reanalyzed as monomorphemic in some languages makes me very wo

[2016-02-29 11:59] LinguList commented on #23
LingPy aligns all things you give it. If you add morpheme boundaries,
however, lingpy has the practice of NEVER aligning one morpheme with two
morphemes in another language. This will lead to things spreading then,
if morpheme boundaries are inconsistently marked. It may be an
advantage, since in many cases, morpheme boundaries can only be detected
in historical comparison, so they will need to be

[2016-02-29 12:08] nataliacp commented on #7
wow, I had no idea that this word even existed!  I just looked it up in the dictionary, you mean this, right?
noun, Pathology.
1.
a painful, circumscribed inflammation of the skin or a hair follicle, having a dead, suppurating inner core: usually caused by a staphylococcal infection.

It's not really my business, but with an eye to the future, I would add something more explanatory in cases like t

[2016-02-29 12:17] LinguList commented on #7
"boil" occurs in this form actually in the concepticon:
- https://github.com/clld/concepticon-data/blob/master/concepticondata/concepticon.tsv#L794

[2016-02-29 13:08] nataliacp commented on #27
@thiagochacon, this arrangement is for the cases of fake polysemy, not real polysemy. With Amalia we discussed that there are cases in Maihiki where words are not polysemous in an emic analysis but still there are two rows in the 740 list where the word would go. The solution above is for such cases, to avoid imposing the polysemy at an emic analysis. So, if there are cases in Karapana and Kubeo w

[2016-02-29 13:17] nataliacp commented on #26
I agree with Lev's initial proposal to have left edge floating tones superscript and before the word, exactly where we expect them to surface. This is the natural place of any other surface tone they are cognate to in case it is floating or not.
so, if the word in one language is aHbaLbaL and in the other (H)maLmaL, then the surface tone of the one and the floating tone of the other are perfectly

[2016-02-29 13:28] nataliacp commented on #22
ok, so from what I understand, we want underlying tones in one representation (including floating tones I assume), we want surface tones and floating tones represented for alignment and we want a purely tonal field.
here is my suggestion for how to store all that in Reflex and a couple of questions for you:
1. FUN field has surface tones and floating tones represented in a convenient way for align

[2016-02-29 13:43] nataliacp commented on #22
@amaliaskilton:

Right now, I don't think it is feasible. The alignment view shows only the FUN forms. But I think it is possible to have the cognate set loaded below in the available elements zone with any of its fields visible. In short, this can be made possible in any case if it is not already somehow there already.

[2016-02-29 13:46] nataliacp opened #29 "languages with no surface tones available"
I will try to summarize here all the issues regarding surface tones. Please let me know if I am missing anything.

ok, then my understanding is that the FUN forms for Koreguaje and Karapana will be lacking tones and the corresponding columns in the alignemnt will be empty. this can be interpreted afterwards as a ? (we have no tone information, but there is tone there) or ∅ (there is no tone associ

[2016-02-29 13:51] #13 closed, assigned to nobody

[2016-02-29 13:55] #3 closed, assigned to thiagochacon

[2016-02-29 15:01] gomezimb commented on #29
For Tuy, I understand that there will be surface tones but there will be an underrepresentation of them on the second mora. (is the unassociated one a floating one or another phenomenon?). I think a more detailed explanation for the Tuyuka case may help us decide how to better treat it.

TUY morphemes (stems and suffixes) belong to 3 tonal classes:
1) with a H underlingly associated to the 1st mor

[2016-03-01 15:08] thiagochacon commented on #29
@nataliacp , responding to your points:
yes, we have no tone for desano, siona and tanimuka. if we have time (I don't know how much we are talking about now) we could ask Wilson (who is part of this project) and Natalia (who works on Tanimuka) to provide, at least, the surface tones.

For Tuy, what is underrepresented are the underlying tones in the if the word has no affix, and no high tone in th

[2016-03-01 15:11] thiagochacon commented on #27
When I see Kubeo and Karapan wordlists, most cases of polysemy seems like cases you called "fake polysemy". Hence, they are not really special in the cases where I have worked, but actually the default case. I think you mean things like baba "hand, arm"?

[2016-03-01 15:17] thiagochacon commented on #22
I like all you 4 fields, @nataliacp .

As for question-1: Only surface tones + floating tones, since underlying tones will be in the PHM field.
Question-2: I think PHT sould only have surface tones, and no floating tones (which will be represented in several other fields).

[2016-03-01 15:21] thiagochacon commented on #23
Things are already too complex, but morpheme boundaries at least in the PHM field, would not overcomplicate things. Here is a second proposal
Prefix
->
Suffix
<-
Circumfix
<->
Proclitic
=>
Enclitic
<=
Compound
+

I also agree with @amaliaskilton that when in doubt about the phonological status of a morpheme (free or bound form), we should go with the least bound one. hence, if we think it could be

[2016-03-01 15:24] thiagochacon commented on #23
As for the CLPA issue raised above, I think we should keep up with our collaborations here, both among Tukanologists (despite how much we disagree), Reflex and CLPA and things alike.

We are already way behind any schedule, so I think nothing can harm us anymore on this. Lets proceede with calm now, have a nice dataset and since we are benefiting from existent computational resources, nothing more

[2016-03-01 16:16] nataliacp commented on #29
great @thiagochacon, let's have a skype meeting soon to discuss automation of Kubeo and Tukano surface tones.

I didn't understand which languages Wilson could provide tones for. I would suggest we ask both of them now to see if and when they can do it, because it is a hassle to modify drastically the entries after they have been imported. I would prefer to import without tones only the languages

[2016-03-01 16:21] nataliacp commented on #27
from what I understand, distinguishing real polysemy from "fake" is not always very easy. There are semantic tests for that. I think this is ultimately up to you (or to the author of the source if it is not your own fieldnotes). If you think that most cases are of the fake kind, then you can collapse those "polysemous" entries in one row, give them a hand or arm (or maybe upper limb) unified trans

[2016-03-01 16:25] nataliacp commented on #22
great! if everybody agrees with these, we can close this issue and move on with the field decisions we made!

[2016-03-01 16:41] gomezimb commented on #29
We can do a skype about TUY tones, Amalia.

[2016-03-01 17:20] gomezimb commented on #27
for Karapana, the absence of tones can make think of polysemy for tone minimal pairs: N°99 $rui$ (sentarse), N°384 $rui$ (descer) are $rùí$ and $rúì$ in TAT; KAR & TAT are very close.

[2016-03-01 17:28] levmichael commented on #22
Sounds good to me.

[2016-03-01 18:45] LinguList commented on #23
Hey @thiagochacon, I actually think that this is a nice proposal with
the ->, <-, => etc., and I think this could be included in CLPA. We
should discuss it also over there (once we have time).

[2016-03-01 18:49] LinguList commented on #27
Just quickly, regarding what @nataliacp  said:

I wouldn't trust any of these things, since it's a floating frontier here, and you can never really tell. What you can tell, however, is whether a word is identical in sound with another one, and this is what François calls "colexification", and checking this cross-linguistically can help to identify good polysemy candidates, as in our [database of c

[2016-03-01 23:31] levmichael commented on #26
@gomezimb, are those underlying representations? (In the quasi-phonemic representation, every TBU should have a tone assigned to it, which obviates the need to derive the surface tones.) But to answer your question, I can't tell you what the surface tones are without knowing what the spreading rules are for the tones in the language.

[2016-03-01 23:50] levmichael commented on #26
So, to summarize the current state of the discussion, we have two proposals on the table, which I believe differ only on one point, namely, whether directionality of floating tones is indicated by whether the floating tone is indicated by: 1) the position of the floating tone with respect to its associated syllable (preceding for leftward associating, following for rightward); or 2) the use of a d

[2016-03-02 14:48] nataliacp commented on #26
In re-reading this thread while preparing to discuss it with Seb, the quote above caught my attention. @LinguList do you mean that the surface tone and the floating tone in say H(L) occupy one column in the alignment? I think they absolutely need to be two separate columns, based on everything we have said up to now. and in case they are separate columns, why does it matter which side of the sylla

[2016-03-02 15:05] thiagochacon commented on #26
Indeed, floating tone and realized tones are different entities and must be in a different cell for alignment. It is not the case that a floating tone is "a tone" that modifies another tone.

[2016-03-02 15:49] LinguList commented on #26
Okay, now before we go any further with this, I want to be presented an
alignment of at least five different words across five tukano languages
with and without the floating tones, and please, put it in different
representations (FT anywhere, iconic, whatever,).

I want to have a clear assessment regarding the degree of the problem,
the uglyness of the solutions, etc.

And if you don't have morphe

[2016-03-02 15:52] LinguList commented on #26
BTW, you can nicely align stuff here by writing table,s just like this:

| . | . | . | . | . |
| --- | --- | --- | --- | --- |
| b | a | b | b | c |
| b | a | c | c | (d) |

Just expand the template (| is a cell-delimiter, the first two lines are important to show it's a table), and it's easier to follow each other when talking the ugliness and beauty of alignmetn solutions...

[2016-03-02 20:32] amaliaskilton commented on #26
Since there are no floating tones in the Western languages either
@thiagochacon or @gomezimb will have to give you the real examples. I am
not sure there are any cases where, in a single cognate set, five languages
all have floating tones.

On Wed, Mar 2, 2016 at 7:52 AM, Johann-Mattis List <notifications@github.com

[2016-03-02 20:35] LinguList commented on #26
that's exactly what I want: five languages, but not necessarily floating
tones. I just want to see to which degree the iconicity in cognate words
makes it difficult to align the floating tones, and to what extend the
independent annotation of floating tones is important for the alignment.

Note that I'm not against this per se, although I have the gut feeling
(based on other languages where we hav

[2016-03-03 09:53] gomezimb commented on #26
I'm preparing a sample of TAT & BAS cases to send you today.

[2016-03-03 10:14] thiagochacon commented on #26
I have the same plan too for kub and tuk

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: gomezimb notifications@github.com </div><div>Data: 03/03/2016  06:53  (GMT-03:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Cc: thiagochacon thiago_chacon@hotmail.com </div><div>Assunto: Re: [tuk

[2016-03-04 02:30] thiagochacon commented on #26
See if that is useful at all
- surface tones as capital letters after a vowel/mora
- floating tones in parenthesis
- underlying tones in slashes
- neither kubeo nor tukano has a floating tone in the left edge of a morpheme

CVCV
weL koH (L)     /HL/        KUB
weL koL (H)     /L(H)/  TUK
'parrot'

muL haH         /H/     KUB
moL saH (L)     /H/     TUK
'achiote'

oL  peH (L)     /HL/        KUB
oL

[2016-03-04 11:43] gomezimb commented on #26
I attach the file on TAT and BAS tones. I tried to be as clear as possible, but if I failed please do not refrain and ask questions.

[TAT_BAS_tones.pdf](https://github.com/digling/tukano-project/files/158595/TAT_BAS_tones.pdf)

[2016-03-04 13:21] LinguList commented on #26
well, how would you align these things?

as an example, consider @thiagochacon's first example ("parrot"):

| Language | ... | ... | ... | ... | ... | ... | ... | ... |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| KUB | w | e | L | k | o | H | (L) | /HL/ |
| TUK | w | e | L | k | o | L | (H) | /L(H)/ |

It makes more sense to have underlying and surface tone together:

| Language | ..

[2016-03-04 13:22] LinguList commented on #26
Alternatively, you may just create a fake alignment in the [EDICTOR](http://edictor.digling.org) and show it here as a screenshot...

[2016-03-04 13:29] thiagochacon commented on #26
I wouldn't like to see this kind of alignment you suggested, where tones and vowels are aligned each at the same time.

Rather in one alignment form, I think surface tone should go along with vowels, floating tone by itself.

In another alignment form, tone should be align separately from vowels

In addition, let's not mix up surface and underlying tones in the alignment! They can be part of the s

[2016-03-04 13:49] LinguList commented on #26
well then I suggest for the form to be passed to lingpy, and also for ease of discussion, etc. that we just omit the floating tones, or even the tones, there, (that would be the FUN field, right?) and if more specific alignments are needed, this can be done in additional forms using the tone data, using reflexes full alignment flexibility. This would also avoid any further discussion of where you

[2016-03-04 14:10] thiagochacon commented on #26
I have always felt that it would be simpler for aligning tones and segments in separate fields, but that would make us loose potential cases of tone and segments co-evolution.

My suggestion is the following:
1- In Reflex, we have the PHT, PHM and FUN representations as we discussed them already (this is done, I think)
2- When importing to Lingpy, we remove tones
3- When reimporting to Reflex we a

[2016-03-04 14:13] LinguList commented on #26
you can also leave the tones in the alignments with lingpy, just remove
the floating tones, or attach them to the tones, as specified. Since
they won't influence the alignment in any way (one would need to
re-invent an algorithm working with that information), they need to be
put somewhere, where they are not treated as segments, and this is why I
want to attach them to the tones. Alternatively, d

[2016-03-04 14:17] thiagochacon commented on #26
deleting floating tones for the purpose of lingpy parsing and analysis is ok with me, if we can restore them when importing back to Reflex

Date: Fri, 4 Mar 2016 06:13:59 -0800
From: notifications@github.com
To: tukano-project@noreply.github.com
CC: thiago_chacon@hotmail.com
Subject: Re: [tukano-project] floating tones (#26)

you can also leave the tones in the alignments with lingpy, just remove

[2016-03-04 14:29] LinguList commented on #26
that's why I suggset to attach them in brackets to the tones, since in
this way, they're still there and can be easily restored.

[2016-03-04 14:55] thiagochacon commented on #26
I see and now I understand where you are coming from. However, I guess we need to separate what is the ideal linguistic representation and the capabilities of Reflex and LingPy to handle these representations. If Reflex can structure the data closer to the way we want it represented and then we just need to adapt things so that Linpy can perform better its job, while still keeping the original dat

[2016-03-04 14:59] thiagochacon commented on #8
I have adjusted Kubeo data according to Reflex templates and guidelines. I will open a new issue now and close this one.

[2016-03-04 14:59] #8 closed, assigned to amaliaskilton

[2016-03-04 15:04] thiagochacon opened #30 "Kubeo template"
Please find attached the Kubeo data according to Reflex template and guidelines. In sheet 2 you can see a list of actions that I performed (and remembered to write down).

Let me know if all is all right and if so, let's also start talking about providing surface and floating tones to FUN forms.
[kubeo reflex template.xlsx](https://github.com/digling/tukano-project/files/158877/kubeo.reflex.templa

[2016-03-04 16:53] amaliaskilton commented on #26
@LinguList : I didn't realize we could use different representations for
lingpy and reflex. If that's true, I'd suggest we circumvent this issue by
not using tones for automatic alignment at all. From my lexical knowledge
of the 740 list, there is no language in which we have a significant number
of minimal tone pairs/sets in the data - the maximum number of minimal sets
that will appear in the li

[2016-03-04 17:44] gomezimb commented on #26
Thiago,
In: weL koL (H) /L(H)/ TUK 'parrot' the H is not floating but both L and H are linked to o, that is realized as a raising tone, described and transcribed by Ramirez (1997:69) as 'tom de contorno' (contour tone) and realized as MH.
weL koLH /LH/ TUK

[2016-03-04 19:01] thiagochacon commented on #26
Thanks for noticing that, Elsa.

As you can see, I try to explain that in the last lines of that message.

Treating the “contour” tone as a combination of an L tone plus an unassociated/floating H tone i actually my analysis, one that I am writing up for publication in Liames.

Basically for me, Tukano has /H/ and /L/ underlying tones. /H/ is what Ramirez called “Register tone”. The /L/ tone occur

[2016-03-05 17:56] levmichael commented on #26
Greetings from Lima. Sorry to have been AWOL for a couple of days -- I was packing up to return to Peru and in transit. Some 'procedural' responses to upthread comments:
1. I agree with @thiagochacon and @amaliaskilton that for LingPy purposes we simply strip the tones for automated alignment and narrow the discussion of tonal representations to specifically how they will be represented in RefLex.

[2016-03-05 18:00] levmichael commented on #23
Let's see if we can reach a conclusion here so that wordlist work can resume. @amaliaskilton and @nataliacp, could you weigh in on @thiagochacon's boundary symbol suggestions?

[2016-03-05 20:29] amaliaskilton commented on #23
I am happy with the new boundary symbols proposed by @thiagochacon - these
distinctions shd be enough to represent all of the morpheme categories
relevant for Tukanoan languages.

That said, @LinguList, I would have great reservations about trying to
define a list of morph categories intended to be applicable for all
languages or even all S American languages. That is a deeply theoretical
task - n

[2016-03-05 20:54] LinguList commented on #23
I agree, @amaliaskilton, that it is difficult to define things cross-linguistically, but this is not a reason not to try it! You see, if we want to go ahead with our science, we need to think of cross-linguistic representations, albeit at a minimal level which may disappoint people working on specific languages. But our experience with IPA and also with concept lists shows that we cannot advance b

[2016-03-05 21:46] amaliaskilton commented on #23
The IPA is a highly theoretical device too. But crucially, it is governed
by phoneticians and based on findings in phonetics (and therefore it
changes with new research findings - Ladefoged famously added dozens of new
symbols to the IPA). Linguists sometimes disagree about the utility of IPA
symbols, but they accept the alphabet because it represents a consensus in
the field of phonetics. This wo

[2016-03-05 21:53] LinguList commented on #23
well, in fact it is not based on phoneticians, but in the way it is
produced, it is based on people that try to make clear why they need to
deviate from the standard, so it is in the end by no means different
from linguistic "categories". I don't see any true acceptance of IPA
among linguists, given the data I have so far been working with, and I
can partially understand the problems, but neverthe

[2016-03-06 08:18] gomezimb commented on #26
Thanks for your reply Thiago.
I'm lost at this point. Weren't we talking about the $$ representation? At that level, in isolation, it seemed to me that we had $weL koLH$.

[2016-03-06 16:04] levmichael commented on #23
There are many interesting observations in the upstream thread, but I'd like to keep our eye on the (shorter term) ball: so,  @amaliaskilton and I are on board @thiagochacon's boundary symbols; it would be nice to hear if @gomezimb is similarly OK with them, and especially what @nataliacp thinks from the RefLex side. It would be really nice to have this wrapped up in the next day or two, before I

[2016-03-06 16:21] levmichael commented on #26
It would be good to move this tonal representation discussion to closure, with the hope of reaching a group decision before I drop out of email contact (on Wednesday evening). Since it appears that we will stripping tone for purposes of LingPy alignment, it seems to me that we can select our RefLex representation with primarily Tukanoanist conventions in mind. It seems to me that Tukanoanists are

[2016-03-06 16:32] gomezimb commented on #23
It's OK with me.

[2016-03-06 16:35] gomezimb commented on #26
It's OK with me too.

[2016-03-06 20:31] nataliacp commented on #26
I agree with this. I am pretty sure that this works fine in Reflex. @sflavier can you confirm this? I will be back at work on Tuesday and will verify.

[2016-03-06 20:57] nataliacp commented on #23
I have no problem with any symbols being in the non-aligned fields. I would like to reiterate though my reservations of putting all sorts of dash-like things in FUN. Would they be considered in automatic alignment or not? and if yes, would it matter if they are a clitic or an affix symbol? As I said before, I think these things diacrhronically break down and we shouldn't overcomplexify the quasi-p

[2016-03-07 09:57] gomezimb commented on #23
When I wrote that it was OK with me, I meant that it is not a problem if someone enters those signs in my list, not me. Same for the tones. My data were completed thanks to Amalia because I'm handicapped, I cannot properly use my wright hand. And I've never used Reflex, Flew or whatever.

[2016-03-07 14:07] krstenzel commented on #23
Hi all,

I’ve been following the discussion as best I could and have found it interesting, but I’m now completely confused as to what needs to be done with my data. Both KOT and WAI data were entered by my student according to the original guidelines. What am I supposed to do now? If everything now needs to entered differently, I will need a very clear new guide with examples of how things should

[2016-03-07 14:33] thiagochacon commented on #23
I also think FUN should be stripped off of morpheme boundaries, but perhaps in that case we will loose information that is important for alignment and analysis of sound change. But I would prefer a easy solution now, and just go without morpheme boundaries in FUN.

@nataliacp has raised an interesting empirical question, whether sound changes are sensitive to different kinds of morpheme boundaries

[2016-03-07 14:35] thiagochacon commented on #30
I will have to alter the symbology I used for morpheme boundaries as soon as issue #23 is closed

[2016-03-07 14:35] thiagochacon commented on #26
Agreed!

[2016-03-07 14:55] amaliaskilton commented on #23
We would expect sound change to be surface sensitive to morph boundaries in
two cases - where a sound change targets a phone that
synchronically appears only in certain morphological contexts (eg in Mai,
[d] only appears morph initially) and due to analogy. We are already
representing morphologically conditioned phonology in the FUN form by
altering the segments/tones to reflect basic phon process

[2016-03-08 11:10] nataliacp commented on #30
Would you like to have a skype meeting the two of us to discuss tones for Kubeo soon? Ideally, if we have a solution, Seb can start working on the script to automate the conversions at the end of the week. Wednesday and thursday afternoon work fine for me this week, but not Friday.

[2016-03-08 11:13] nataliacp commented on #29
great, I will follow up on that in a separate thread.
I think we are all ok that we will work on a language-by-language basis for Tuyuka, Kubeo and Tukano.

Can we also make decisions on the rest of the languages? (i.e. if we are going to try and obtain tones, for which and from whom). Then we can close this issue.

[2016-03-08 11:16] nataliacp opened #31 "Tuyuka tones"
I would suggest to have a skype meeting to discuss Tuyuka tones (how we are going to represent them etc, how we are going to derive surface tones) with @thiagochacon and @gomezimb.
I think that afternoon in France and morning in Brasilia should work. I am available pretty much every afternoon all of next week, so please let me know what you prefer.

[2016-03-08 11:28] nataliacp commented on #26
Just to let you all know, that we discussed today with Seb and everything seems fine. We can discuss the details with Mattis regarding which side the "removal" of tonal information will be implemented, but the result will be the same: the alignment will be done on segments only and then columns for the tones will be added. The representations will be iconic, in the sense that floating tones hangin

[2016-03-08 14:13] levmichael commented on #26
Yes, this is correct, as I understand. One very important question, however, is something that @amaliaskilton raised upthread: How do we input superscript Unicode H, L, (, and )? The Unicode IPA keyboards that linguists typically use do not have these symbols.

[2016-03-08 16:12] amaliaskilton commented on #29
Languages where I am involved:
- Mai already has tones done.
- Koreguaje is known to be a tone language, but the dictionary lists tones
  for just a handful of forms. I included the tones in the phonetic field
  where they were available & can move them to the PHM and FUN fields now
  that we have made decisions about those.
- Colombian Siona is a stress language.

On Tue, Mar 8, 2016 at 3:13 AM,

[2016-03-08 16:12] levmichael commented on #23
1) So it seems that we are in agreement that there will be no morpheme boundaries in the quasiphonemic (FUN) representation, which means that none of us (including @krstenzel and @gomezimb) need to worry about altering anything in the quasiphonemic representation, since our original convention was not to include morpheme boundaries there.

2) It looks like we're also in agreement that we will enri

[2016-03-09 11:12] nataliacp commented on #29
Thanks Amalia. so we should consider Koreguaje and Colombian Siona ready in this respect.

[2016-03-09 11:16] thiagochacon commented on #30
@nataliacp , I am ready now  for about 40 min (12pm for you) and at 2pm (for longer time if needed). which one serves best to you?

I am afraid tomorrow is not a good day

[2016-03-09 11:23] thiagochacon commented on #29
_I didn't understand which languages Wilson could provide tones for. I would suggest we ask both of them now to see if and when they can do it, because it is a hassle to modify drastically the entries after they have been imported. I would prefer to import without tones only the languages for which we have no hope to obtain tone (at least not within the next few months)._

I will aks Wilson and Na

[2016-03-09 11:25] thiagochacon commented on #23
great!

[2016-03-09 11:25] nataliacp commented on #30
let's do it now then! are you on skype?

On Wed, Mar 9, 2016 at 12:16 PM, thiagochacon notifications@github.com
wrote:

[2016-03-10 03:54] thiagochacon commented on #30
I will send the new table later today (thursday). Couldnt finish it yet.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Natalia Chousou-Polydouri notifications@github.com </div><div>Data: 09/03/2016  08:25  (GMT-03:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Cc: thiagochacon thiago_chacon@hotmail.com </div><div>Assunto: Re

[2016-03-10 17:51] gomezimb commented on #31
I'll be available too in the afternoon next week.

[2016-03-10 21:18] thiagochacon commented on #30
here goes the kubeo spreadsheet. I have nothing else to change before you run the surface tones script.
[kubeo reflex template.xlsx](https://github.com/digling/tukano-project/files/168014/kubeo.reflex.template.xlsx)

[2016-03-14 11:21] nataliacp commented on #31
ok, here's a doodle for the tuyuka meeting. http://doodle.com/poll/ne5t9baeirsv8ahm
please fill it in as soon as possible so we can schedule it.

[2016-03-14 12:39] nataliacp commented on #31
great! we will have our skype on Friday from 5pm to 6pm for France and from 1pm to 2pm for Brasilia.

[2016-03-14 14:56] sflavier commented on #30
[kubeo_questions.xlsx](https://github.com/digling/tukano-project/files/172180/kubeo_questions.xlsx)
See the information from Natalia in the following comment.

[2016-03-14 20:22] thiagochacon commented on #30
thank you, I am in the process of revising it.

Q: what are you referring to  by "split a+tone"?

[2016-03-14 20:31] nataliacp commented on #30
hello!
In the file that Seb sent above, is a list of items that are missing tones, or pose otherwise problems or we didn't think we have adequate information to treat. The problem for each is written in a column on the right. Please make all corrections on the kubeo reflex template file and then re-send it to us.

Some of the issues we encountered are:
1. forms without tones entirely (as you told

[2016-03-14 20:33] nataliacp commented on #30
oh, yes, I forgot about that. It is just that the vowel and the tone are one character instead of a sequence. If you can't change that, we will change it.

[2016-03-15 22:40] thiagochacon commented on #30
Here is the spreadsheet. Please find a new column in the first sheet with my replies for all 7 issues you noticed, and a second sheet with extra observations. Tell me if everything looks fine on you end.

As for the nasality question: /bã/ & /pã/ PHM correspond to $ma$ & $pã$ FUN which corresponds to [mã] & [pã] PHT. Technically in [mã] the vowel is not as nasalized as in [pã]: while both are nasa

[2016-03-15 22:44] thiagochacon commented on #31
sorry, I had to change my times. I would prefer times when Elsa can't right now, but I can try to make it on Thursday. The problem is that this is lunch time in Brazil, time to pick up kids at school, to eat among family and to go back to work.... a busy time, but if you can't make in other times, I could try to make some arrangements in my routine.

[2016-03-16 09:01] nataliacp commented on #31
I had a look at my times again and I can't change anything unfortunately, sorry. we can try for next week if elsa can't change hers either.

[2016-03-16 09:07] nataliacp commented on #30
thanks for the spreadsheet! I will look at it in the coming days in detail and let you know how things go.

as for the nasality issue, I find it weird to write a nasal vowel on a surface form as not nasal. The way it is noted now, it seems as underlyingly (phonemically) nasal segments become completely denasalized on the surface. Also, in the alignments it would show as if in Kubeo nasal segments

[2016-03-16 10:49] thiagochacon commented on #30
Thanks, Natalia. I am glad that only 5% or so words in Kubeo corpus lack tones.

Nasality:

Tukanoist have extensively discussed the issue about how to represent nasality in phonological and quasi-phonemic level last year. The quasi-phonemic level is not a surface form, as I we have define it, but a representation of major allophones. Also, there are no nasal segments in ET languages: the entire s

[2016-03-16 15:47] amaliaskilton commented on #30
@nataliacp: I agree with Thiago about nasality. The phonetic reality is
that there are 3 grades of nasality in many Tuk languages (we have
articulatory data to this effect for Mai, and a number of grammars have
descriptive statements giving the same facts):
1) a fully oral vowel
2) a partially nasal vowel, i.e. one which is underlyingly nasal but has
'passed' its nasality to an adjacent voiced sto

[2016-03-17 02:45] thiagochacon commented on #30
@amaliaskilton, just a few remarks:
1. the status of underlying nasal vowels is valid only for WT languages -- and perhaps in Tanimuka too – but not for other ET languages.
2. I am also aware of some 10 cognates in ET and WT for morphemes disagreeing in terms of nasality. I agree with you they are actually sporadic processes. I have a presentation on this topic and could share it with you. In addi

[2016-03-17 03:21] amaliaskilton commented on #30
In my opinion the distinction is between a change to the phonological
system, set in motion by a sound change, and a sound change without
knock-on phonological consequences (the kind that in the most structuralist
terms is not even a change). The modal voice and nasality change is of the
former kind, things like di to y of the latter kind.

The relevant point here for @nataliacp, however, is that

[2016-03-17 03:27] thiagochacon commented on #30
Great, couldn't agree more.
As for the alignments and correspondences, since things are (overwhelmingly) regular, having oral-nasal correspondences is by no means a problem if our coding of the data was consistent. For computer assisted cognate detection, I guess vowels are currently not as relevant as consonants, but @LinguList  could say more about that.
@nataliacp , are you concerned about this

[2016-03-17 06:38] nataliacp commented on #30
no, not at all! thank you both for all the explanations. It just striked me as strange, that's all and I wanted to learn more about the phenomenon. I am taking advantage of the project to learn more about sound change and tukanoan and all this... thank you very much for being patient and exlaining stuff to me!
Thiago, I haven't had the time to look to the spreadsheet yet, but I will by the end of

[2016-03-17 08:13] gomezimb commented on #31
I'm more free than you are, so tell me when you both can do it.

[2016-03-17 08:59] nataliacp commented on #31
the easiest elsa is to revisit the doodle above and modify your times of availability. Both Thiago and me have modified ours, so if you see a new time that is possible for all three of us, please let us know.

[2016-03-17 13:14] nataliacp commented on #31
hello, I am unsure what we are doing with the meeting in the end. Thiago said that it was possible for him today with some arrangements, but now it seems that it is no longer possible for you Elsa. At the same time there is no possible time for tomorrow. So, please confirm as soon as possible if we are indeed meeting today and if not I am going to make another doodle for next Monday and Tuesday (a

[2016-03-17 13:19] thiagochacon commented on #31
Tuesday would be perfect for me.

I just would like to suggest a time other than lunch time in Brazil, so not in between 4 and 6pm in France.

[2016-03-17 13:20] gomezimb commented on #31
There was a misunderstanding. It’s OK to me today at 17-18 france time.

Elsa Gomez Imbert
Directrice de Recherche CNRS senior
Institut Français d'Etudes Andines
CLLE/ERSS U. Toulouse Le Mirail

7, rue du Faubourg
46160 Cajarc
France
Mobile : 33 (0)6 25 42 62 85
Fixe: 33 (0) 5 65 34 71 20

[2016-03-17 13:30] nataliacp commented on #31
Actually, I spoke too quickly without looking carefully at my calendar. Tuesday next week is incredibly full for me, but if absolutely necessary I could after 9pm in the evening for me. Monday on the other hand is fine. As for the times, I was trying to keep everyone on "work hours" more or less. I personally have no problem meeting outside work hours (i.e. late in the evening) but I don't want to

[2016-03-17 13:41] thiagochacon commented on #31
Monday & Wednesday -  8am - 12pm (Brasilia)
Tuesday & Thursday - Any time (except 12pm - 2pm)

Late in the night is okay with me, but I guess that would be quite later for you in France

Date: Thu, 17 Mar 2016 06:30:20 -0700
From: notifications@github.com
To: tukano-project@noreply.github.com
CC: thiago_chacon@hotmail.com
Subject: Re: [tukano-project] Tuyuka tones (#31)

Actually, I spoke too quic

[2016-03-17 14:24] gomezimb commented on #31
6 to 7pm french time is good to me, how is it for you, Nathalia?

[2016-03-17 14:35] nataliacp commented on #31
you mean for tonight? no, actually I can't do that tonight. 6-7pm is the time to pick my daughter up from daycare. In general I can skype that time, but I would have to know it in advance so I can arrange that my husband picks her up.

[2016-03-17 17:00] gomezimb commented on #31
Monday or Wednesday next week is OK.

[2016-03-18 08:22] nataliacp commented on #31
I made another doodle for the next 2 weeks (only for the days I am available). as I said I am going to be away most of next week and I have an extremely busy schedule the week after next.
Here is the link http://doodle.com/poll/7wat5xur2fcmkp8m

[2016-03-24 15:15] thiagochacon commented on #31
It looks like we won’t be able to do this Skype meeting.

Hence, besides Elsa’s explanation on Tuyuka tones from a phonological point of view, here is a more practical orientation of how we should process Barnes originnal data in order to have surface tones in FUN forms.

Tuyuka has just one high tone per word. The default pattern is a high tone in the second vowel/mora of a word. Barnes does not

[2016-03-29 09:38] nataliacp commented on #31
I am back! Thanks for the explanations Thiago. I don't fully understand the last case with the H on the first syllable. Where is the floating tone on this one? There is still time to do a skype meeting on Wednesday or Friday this week, if Elsa is available. Elsa could you please fill in the doodle? the  link is http://doodle.com/poll/7wat5xur2fcmkp8m

[2016-03-29 10:07] nataliacp commented on #30
Hello Thiago,
I finally looked closely to the spreadsheet you sent us. As I said in my email, the corrections need to be done to the **template**, not to the file I sent you with the list of problems. Could you please update the template with all the corrections so we have the latest version?
Also, while correcting, please verify the whole entry, both the FUN and the PHM field.
Finally, I have som

[2016-03-29 13:54] thiagochacon commented on #30
I will modify the template accordingly:

"impossible to verify": you are right, they mean "no tone information available" and I will add that as CSO comment to the template.

"question marks" > they mean that besides surface tones I don't have "tone information available" to say whether there is or there isn't a floating tone. The question marks stand on the place of a H or L. What is more sensibl

[2016-03-29 17:34] gomezimb commented on #31
I'm leaving tomorrow and will be back only the 15th of April, sorry!

[2016-03-31 13:25] thiagochacon commented on #31
No floating tones in the last one, Natalia. Why would think that there is one?

The concept of floating tones we have used for other languages does not apply to Tuyuka in the same way. In Tuyuka, there is always one and only one H tone per word. So we always know that after locating the H, the next and previous syllables will have L tones.

Barnes uses the concept of unassociated tones, which is d

[2016-03-31 13:28] thiagochacon commented on #30
please let me know what I should do about question marks. If you don't like them in the entries, I can write comments about not knowing the underlying tones, and we leave only surface tones.

[2016-03-31 13:29] nataliacp commented on #31
Thiago, could we have a skype the two of us tomorrow Friday so we can advance on Tuyuka? according to the doodle 6 to 7 for me is good for both, but I would actually prefer 7 to 8pm so I have time to pick up Leila from daycare. this would be 2pm for you if I am not mistaken.

[2016-03-31 13:36] nataliacp commented on #30
we discussed with Seb yesterday and we think it is ok to leave the question marks in but with a clear note in the comment field explaining exactly what it means, i.e. that there may be or not an associated floating tone and that the tones marked are surface tones only. I hope I have undesrtood correctly what is happening iwth the question marks.

the other problem we are having in order to test th

[2016-03-31 13:41] thiagochacon commented on #30
Thanks for the feedback on question marks.

Any VV sequence maps into a single syllable in Kubeo. So don't worry about distinguishing VV from V.V

Unfortunately I have a completely full day tomorrow. we could skype on monday morning (from 8 to 11 am in Brazil - guess France is 4 hours ahead). Would you be available?

[2016-03-31 13:41] thiagochacon commented on #30
Thanks for the feedback on question marks.

Any VV sequence maps into a single syllable in Kubeo. So don't worry about distinguishing VV from V.V

Unfortunately I have a completely full day tomorrow. we could skype on monday morning (from 8 to 11 am in Brazil - guess France is 4 hours ahead). Would you be available?

[2016-03-31 13:41] thiagochacon commented on #30
Thanks for the feedback on question marks.

Any VV sequence maps into a single syllable in Kubeo. So don't worry about distinguishing VV from V.V

Unfortunately I have a completely full day tomorrow. we could skype on monday morning (from 8 to 11 am in Brazil - guess France is 4 hours ahead). Would you be available?

[2016-03-31 13:43] thiagochacon commented on #30
Thanks for the feedback on question marks.

Any VV sequence maps into a single syllable in Kubeo. So don't worry about distinguishing VV from V.V

Unfortunately I have a completely full day tomorrow. we could skype on monday morning (from 8 to 11 am in Brazil - guess France is 4 hours ahead). Would you be available?

[2016-03-31 13:43] thiagochacon commented on #30
Thanks for the feedback on question marks.

Any VV sequence maps into a single syllable in Kubeo. So don't worry about distinguishing VV from V.V

Unfortunately I have a completely full day tomorrow. we could skype on monday morning (from 8 to 11 am in Brazil - guess France is 4 hours ahead). Would you be available?

[2016-03-31 13:43] thiagochacon commented on #30
Thanks for the feedback on question marks.

Any VV sequence maps into a single syllable in Kubeo. So don't worry about distinguishing VV from V.V

Unfortunately I have a completely full day tomorrow. we could skype on monday morning (from 8 to 11 am in Brazil - guess France is 4 hours ahead). Would you be available?

[2016-03-31 13:51] nataliacp commented on #30
yes, I am available all day Monday, so any time is good for me. let me know what time is best for you.
as for the VV sequences, I saw at least one where there is a morpheme boundary in PHM (whcih is not visible in FUN). If there is a morpheme boundary, then there is a syllable boundary, right?
I will have a look with Seb again and will update you on monday.

[2016-03-31 21:49] thiagochacon commented on #30
let's say monday 9am/2pm (brasilia/lyon)?

even if there is a morpheme boundary nasalization will go through adjacent vowels, so V-V can be treated just like VV. The same is not tru fo V+V, however, since that implies a root boundary.

[2016-04-04 09:44] nataliacp commented on #30
sorry, I thought I had replied to this. Yes, let's talk today mainly about Tuyuka, though, since the nasality check for Kubeo is not ready yet.

[2016-04-04 09:58] thiagochacon commented on #30
Ok. See you in a coupla hours.

Enviado do meu smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Mensagem original --------</div><div>De: Natalia Chousou-Polydouri notifications@github.com </div><div>Data: 04/04/2016  06:44  (GMT-03:00) </div><div>Para: digling/tukano-project tukano-project@noreply.github.com </div><div>Cc: thiagochacon thiago_chacon@hotmail.com </div><div>Assunto: R

[2016-04-06 14:15] nataliacp commented on #30
hello Thiago,
We worked on the Kubeo data with Seb and apart from the nasality issues, we found many other inconsistencies between PHM and FUN, at least based on the phonological rules you have listed. So, either the phonological rules are not complete or they have been applied inconsistently (or a combination of the two).
I would really like to stress that any errors that creep in the dataset at

[2016-04-06 14:29] thiagochacon commented on #30
Could you please resend the file? The PHM forms and FUN forms are not sorted accordingly.

Meanwhile let me say that I agree with your guidelines.

[2016-04-06 14:46] nataliacp commented on #30
ooops, sorry! I don't know what happened, till yesterday they looked fine. Seb is fixing it right now...

[2016-04-06 14:52] thiagochacon commented on #30
No worries.

Even without proper sorting between FUN and PHM I could easily identify the two problems you are referring. Here are my replies:
1. Nasality in vowel sequences. You listed several cases where PHM form like /ãu/ has a corresponding FUN form as $ãu$. You understood this as a problem because you would expect that the two vowels be nasalized, e.g. [ãũ].

As I have tried to explain you in

[2016-04-06 14:58] nataliacp commented on #30
ok, I see, but then why there are cases where both vowels are marked as nasal in the FUN?
at our last meeting, I had understood that the nasality spreading rule is applied in FUN forms, sorry.

[2016-04-06 15:01] nataliacp commented on #30
here is the file again, with the excuses of Seb for the mixup!
[todo (1).xlsx](https://github.com/digling/tukano-project/files/206661/todo.1.xlsx)

[2016-04-11 12:01] thiagochacon commented on #30
Thanks.
On the nasality issue: sorry @nataliacp if I might have told you something that is different from what i have been doing regarding the notation of nasality in the quasiphonemic form. I will keep doing what I have been doing, though, if that is all right with you guys.

I will check carefully the data this week and hopefully get it back to you soon.

[2016-04-11 12:06] nataliacp commented on #30
In any case, there are words in the file that the nasality propagation to the second vowel is noted in FUN and others where it is not. So, either there is a rule missing, or the rule hasn't been applied in a unified way.
Here is an excerpt from our previous conversation for the nasal vowels, so you can see a couple of examples:

[2016-04-11 12:27] thiagochacon commented on #30
Indeed this statement is mixing up quasi-phonemic with phonetic repressentation. I will revise the data accordingly to the quasi-phonemic rules, which I think is the most consistent.

[2016-04-11 12:58] thiagochacon commented on #30
I noticed that in some vowels with nasal and tone diacritic the ordering of diacritics is different, such as ĩ́ versus í̃

I fixing according to the former in the phm form. should I care for FUN too or Seb's algorithm can handle it?

[2016-04-11 13:04] nataliacp commented on #30
oh yes, Seb noticed that too. It's great that you are fixing them. You don't need to fix the FUN forms for this, as we will generate them automatically in their entirety. However, correct them for the other stuff (nasality, tones etc) for the items that were in the todo file. Seb is planning to use them in order to check that the script has the intended behavior.

As for the nasality, if I underst

[2016-04-11 13:07] thiagochacon commented on #30
ok.

could you explain how "Seb is planning to use them in order to check that the script has the intended behavior"? from what I noticed, not all phonological patterns/rules are there, or are you referring to just nasality?

yes, your point is correct about the nasality mapping between PHM and FUN.

[2016-04-11 13:23] nataliacp commented on #30
At our last meeting with Seb, we thought that it may be better to generate all FUNs from scratch based on a series of rules. But in order to do that, we would need the list of rules and their order (which you and I are going to settle in a skype meeting soon, preferably this week) and Seb would like at least some forms that are correct so he can test. That's why it would be good to have the items

[2016-04-12 13:51] thiagochacon commented on #30
that is a good idea, and we can always use our current FUN as controls.

Thursday would be good to talk around 9am/2pm brasilia/lyon time. does that work for you?

I will send you the template in advance.

[2016-04-14 02:00] thiagochacon commented on #30
Natalia, here is the template. Since I did not get a response from you regarding our skype talk tomorrow, I scheduled another appointment. I am can be available on Friday after 12pm/5pm brasilia/lyon.

[kubeo reflex template.xlsx](https://github.com/digling/tukano-project/files/218245/kubeo.reflex.template.xlsx)

[2016-04-14 13:15] nataliacp commented on #30
Thanks for the template! sorry for not replying in time for today, I am preparing a talk for tomorrow. So, yes, friday at 5pm is fine for me to go over the rules, order and boundary issues, so we can generate all FUN forms for Kubeo.

[2016-04-19 15:27] sflavier commented on #30
Hello.
I made some script to run on the last Excel File available in this discussion, and i have some more questions (maybe some will be redondant with your discussion with Natalia !!):
- i found some **non-API character**, like ∫ (mathematical symbol) instead of **ʃ** (phonetic symbol). I can handle them and change them in my script, but be carreful to use the proper characters.
- some rule you g

[2016-04-19 17:56] nataliacp commented on #30
Sorry guys, I should have sent this earlier. Indeed, I have most of the answers you need Seb. Shall we meet on thursday and work on this? Do you prefer morning or afternoon?
Here are some quick answers:

yes, it is j instead of y.
all rules are with consecutive segments (if one ignores boundary symbols) so the multiple underscores are not important. However the nature of the boundaries is importan

[2016-04-19 18:08] nataliacp opened #32 "Nasality in quasi-phonemic (FUN) forms"
After a discussion on Kubeo with Thiago, I think we need to decide how we are going to deal with nasality at the quasi-phonemic level. This should be a general decision for all languages so the representation is comparable.
From what I understand in most Tukanoan languages nasality is a feature either of the syllable (or bimoraic unit) or of the whole morpheme. As a consequence in PHM (phonemic) f

[2016-04-22 20:18] thiagochacon commented on #30
ok. let me know if you need more clarification.

and yes, the tone is over the vowel, not [d]

[2016-04-22 20:28] thiagochacon commented on #32
Just complementing what Natalia has just suggested, which I agree by the way.
If in some languages we have the phonological form as /~baba/ the quasi-phonemic form, for the purpose of data entry in Reflex, would be $mãmã$. The only change being suggested here is that vowels are marked by nasality even if there is already a nasal consonant there.

This will definitely help the future comparison of

[2016-04-22 20:41] amaliaskilton commented on #32
I am not aware of any Tuk language where [mã] and [ma] contrast. There
are, of course, multiple etymological sources for [mã] in those WT
languages which have modal voiced stops (e.g. [mã] in Mai corresponds to
all of [b̰ã], [wã], and [mã] in Siona).

On Fri, Apr 22, 2016 at 1:28 PM, thiagochacon notifications@github.com
wrote:

[2016-04-22 20:51] amaliaskilton commented on #32
One more: My opinion on the mã vs ma issue is that, for languages where
there are three phonetic degrees of nasality, we are losing information
either way - if we choose [mã], about the contrast between the nucleus of
NV and the nucleus of (T)Ṽ; if we choose [ma], about the contrast between
the nucleus of NV and that of DV.

I think we should use [mã] as the default for quasi-phonemic
represen

[2016-04-25 06:10] nataliacp commented on #32
Thanks for this Amalia. I couldn't understand your last point about excrescent nasal, could you please explain more? (i think I am missing the terminology, sorry). @gomezimb and @krstenzel could you also update us on what kind of transformations you have been using regarding nasality when converting phonemic to quasi-phonemic forms?

[2016-04-25 13:21] amaliaskilton commented on #32
An excrescent consonant is one that appears phonetically due to the
transition between two other segments, eg when 'prince' is realized as
'prints' rather than 'prins,' the t is excrescent. Likewise in a sequence
of a completely nasal vowel followed by a voiceless stop, there will be an
excrescent nasal before the stop due to the transition. So the Mai word
/~take/ 'capuchin monkey' is realized [t

[2016-04-25 13:31] nataliacp commented on #32
thanks for the explanation. So, then for Mai you are suggesting that the [mã] is written ma in FUN, right? Also, for the loss of information, I see what you mean. But I think that in either case, context would permit us to recover the information (i.e. we will end up with two different correspondence sets, one after non-nasal and one after nasals, if it makes a difference in how they evolve).

[2016-04-25 13:38] amaliaskilton commented on #32
Yes, I'd prefer to use [ma] in that case and ones like it. As long as
nasality is represented somewhere in each mora of FUN it will make no
difference to cognate judgments and not much to sound changes.

On Monday, April 25, 2016, Natalia Chousou-Polydouri <
notifications@github.com> wrote:

[2016-04-25 18:09] gomezimb commented on #32
Hi Natalia,
I always mark nasality on the vowels, even when they are preceded by a nasal consonant. I gave you access to my TAT_BAS page. Please, have a look

[2016-04-25 18:21] krstenzel commented on #32
Hi all,

I haven’t changed anything at all in my wordlists. And I confess that I haven’t been able to follow all the discussions of tone and nasal representation in detail. Mostly, I’m waiting for those of you with a better idea about what we need for the data to be processed to decide on the final directives. Then, if changes are needed, they can be done all at once. Just getting the data registe

[2016-04-26 07:17] nataliacp commented on #32
Yes! perfect! thanks to all of you. So, from what I see, in most cases all nasal vowels are marked as such. This means that you don't need to make any changes on the way you are doing things. We will update the Kubeo data so the nasality is explicitly marked there too. As for changing criteria, Kris, don't worry, we haven't really changed much. and in any case, if you need to change something we c

[2016-04-26 19:57] krstenzel commented on #32
Thanks, Natalia. I’m relieved to know that there might not be all that much to do yet with the data. I actually can’t even think about working on it at the moment in any case because I’ve got a few things with deadlines way overdue that I absolutely have to take care of. So, it’s going to be a couple of months at least before I can get back to this data. I wish I had more time!!!!!

From: Natalia

[2016-12-21 14:37] thiagochacon commented on #22
E

Enviado do meu smartphone Samsung Galaxy.f